/**
 * About
 *
 * @uses .About
 */
.About {
	// .About .Single-header
	.Single-header {
		@extend %padding-top-5, %padding-bottom-5, %padding-bottom-md-7;
	}

	// .About .Sticky-post
	.Sticky-post {
		@include margin( top #{ $base-line-height * -1 }px );

		@include media-breakpoint-up( md ) {
			@include margin( top #{ $base-line-height * -4 }px );
		}

		.Sticky-post-header {
			@include margin( top #{ $base-line-height * 2 }px );

		}
		.excerpt {
			@include margin( bottom #{ $base-line-height * 2 }px );
		}
	}


	/**
	 * Description
	 *
	 * @uses .About-description
	 */
	&-description {

		&-inner {
			@include margin( top #{ $base-line-height * 3.5 }px );

			h3 {
				@extend .color-gray-very-dark;
				@extend %font-title, %font-bold;

				font-size: 20px;
				line-height: #{ $base-line-height }px;
			}

			p {
				@extend .color-gray-very-dark-01;
				@include letter-spacing( 15 );

				font-size: 16px;
				line-height: #{ $base-line-height }px;
			}
		}

		&-footer {
			@include margin( top #{ $base-line-height * 2 }px );
		}
	}
}
