/**
 * Category
 *
 * @uses 	.Category
 * @author 	Jérémy Levron <jeremylevron@19h47.fr>
 */
.Category {

	// .Category-header
	&-header {
		@include padding( top #{ $base-line-height * 2 }px bottom #{ $base-line-height * 4 }px );
	}


	/**
	 * List posts
	 *
	 * @uses .Category .List-posts
	 */
	.List-posts {
		@include margin( top #{ $base-line-height * -1 }px bottom #{ $base-line-height * 1 }px );

		@include media-breakpoint-up( md ) {
			@include margin( top #{ $base-line-height * -3 }px bottom #{ $base-line-height * 3 }px );
		}
	}


	/**
	 * List childs
	 */
	&-list-childs {
		@extend %position-relative;
		@include padding( top #{ $base-line-height * 1.5 }px );
		@include margin( bottom #{ $base-line-height * 1.5 }px );

		@include media-breakpoint-up( md ) {
			@include padding( top 0 );
			@include margin( bottom 0 ); }

		&::before {
			@extend .d-block;
			@include absolute( top 0 right 0 left 0 );
			@include size( 100% );

			// @include padding( top percentage( 180 / $psd-width-unitless ) );
			content: '';
			background: linear-gradient(
				33deg,
				the_color( orange, light-grayish-01 ) 0%,
				the_color( orange, light-grayish-02 ) 100%
			);

			@include media-breakpoint-up( md ) {
				@include size( 100%, #{ $base-line-height * 6 }px );
			}
		}

		.next {
			@include absolute( top 0 right 0 );
			@include margin( top #{ $base-line-height * 3 }px right #{ $base-line-height }px );

			background: {
				image: url( '#{ map-get( $directories, svg ) }arrow-right-white.svg' );
			}

			@include media-breakpoint-up( md ) {
				@include margin( top #{ $base-line-height * 7 }px );
			}
		}


		.previous {
			@include absolute( top 0 left 0 );
			@include margin( top #{ $base-line-height * 3 }px left #{ $base-line-height }px );

			background: {
				image: url( '#{ map-get( $directories, svg ) }arrow-left-white.svg' );
			}

			@include media-breakpoint-up( md ) {
				@include margin( top #{ $base-line-height * 7 }px );
			}
		}


		.next,
		.previous {
			@extend .d-inline-block, %vertical-align-middle, %Cursor-pointer, %Transition-ease;
			@include size( #{ $base-line-height * 2 }px );
			@include autoAlpha( 1 );

			background: {
				position: center;
				size: 100%;
			}
			z-index: 1;

			&[aria-disabled="true"],
			&.slick-disabled {
				@extend %Cursor-auto;
				@include autoAlpha( 0 );
			}
		}
	}


	/**
	 * List child
	 *
	 * @uses .Category-list-child
	 */
	&-list-child {
		@include padding(
			right percentage( 110 / 480 )
			left percentage( 110 / 480 )
		);


		width: 100%;

		animation: {
			name: fade-in-down;
			duration: .3s;
			fill-mode: forwards;
			timing-function: ease-in;
		}
		opacity: 0;
		transform: translateY( ( $grid-gutter-width * -1 ) );

		@include media-breakpoint-up( md ) {
			@include margin( top #{ $base-line-height * 2 }px );
			@include padding( right 0 left 0 );
		}

		&:hover,
		&.is-active {
			.thumbnail {
				transform: translate3d( 0, ( ( $grid-gutter-width / 2 ) * -1 ), 0 );
			}
		}

		.title {
			$font-size: 13;
			$line-height: 80.1;

			@extend %font-family-title, %font-weight-semibold, %margin-0;

			color: the_color( white );
			font-size: 13px;
			line-height: #{ $base-line-height * 3 }px;

			@include media-breakpoint-up( md ) {
				color: the_color( blue, light-grayish );
			}
		}

		.thumbnail {
			@extend %position-relative, %overflow-hidden, %Transition-ease;

			box-shadow: 1px 3px 9px 0px rgba( the_color( gray, very-dark ), .09 );

			transform: translate3d( 0, 0, 0 );

			@include media-breakpoint-up( md ) {
				border: {
					radius: 50%;
				}
				box-shadow: 0 -3px 15px 0 rgba( the_color( red, bright ), .15 );

			}

			&::after {
				@extend .d-block;
				@include padding( top 100% );

				content: '';
			}

			img {
				@extend %Position-absolute-center;
				@include size( 100% );

				object-fit: cover;
			}
		}
	}
}
