/**
 * Page template default
 *
 * @uses .scss
 */
.page-id-1765 { // Iwant to throw up 🤢
	.page-content {
		@extend .color-gray-very-dark;
		@include margin( bottom 100px );
	}
}

.page-header {
	@extend %padding-top-5, %padding-bottom-5, %padding-bottom-md-7;

	.Menu {
		@extend %Position-fixed-center, %Transition-ease, %margin-y-0;
		@include size( 100% );

		transform: translate3d( -100%, 0, 0 );
		background-color: the_color( white );
		z-index: 30;

		@at-root .#{ map-get( $state-classes, 'menu-open' ) } & {
			transform: translate3d( 0, 0, 0 );
		}

		@include media-breakpoint-up( md ) {
			@include margin( left $grid-gutter-width / -2 );
			@include size( auto );

			position: static;
			top: auto;
			right: auto;
			bottom: auto;
			left: auto;
			background-color: transparent;
			transform: translate3d( 0, 0, 0 );
			z-index: auto;
		}
	}
}
