/**
 * Single
 *
 * @uses 	.Single
 * @author 	Jérémy Levron <jeremylevron@19h47.fr>
 */
.Single {
	@extend %position-relative;

	.Recipe-print {
		display: none;
	}

	// .Single-page-header
	&-header {
		@extend %padding-top-5, %padding-bottom-5, %padding-bottom-md-7;

		.Menu {
			@extend %margin-0;
		}
	}


	// .Relationship-posts
	.Relationship-posts {
		@include margin( top #{ $base-line-height * -1 }px );

		@include media-breakpoint-up( md ) {
			@include margin( top #{ $base-line-height * -3 }px );
		}
	}

	/**
	 * Header
	 *
	 * @uses .Single-header
	 */
	&-header {
		z-index: 10;

		@include media-breakpoint-between( xs, sm ) {
			color: the_color( gray, very-dark )!important;
		}

		@at-root .Single & {
			@include media-breakpoint-up( md ) {
				@include absolute( top 0 right 0 left 0 );
			}
		}
	}


	// .Single-introduction
	&-introduction {
		height: #{ $base-line-height * 10 }px;

		@include media-breakpoint-up( md ) {
			height: #{ $base-line-height * 20 }px;
		}

		img {
			@extend .d-inline-block, %vertical-align-middle;
			@include size( 100% );

			object-fit: cover;
			object-position: center;
		}
	}


	// .Single-article
	&-article {
		@extend %position-relative;
		@include padding( top #{ $base-line-height * 1.5 }px );

		background: {
			color: the_color( white );
		}

		@include media-breakpoint-up( md ) {
			@include margin( top #{ $base-line-height * -3 }px right $grid-gutter-width / 2 left $grid-gutter-width / 2 );
			@include padding(
				right calc( #{ percentage( 2 / 10 ) } )
				left calc( #{ percentage( 1 / 10 ) } )
			);
		}

		// .Single-article .preview
		.preview {
			@extend %font-title, %font-bold;

			color: the_color( gray, very-dark );
			font-size: 20px;
			line-height: #{ $base-line-height }px;

			a { color: the_color( orange, very-soft-01 ); }
		}


		/**
		 * Date
		 *
		 * @uses .Single-article .date
		 */
		.date {
			$font-size: 13;
			$line-height: 80.86;

			@extend %font-semibold, %margin-bottom-0, %margin-top-md-0, %font-title;

			color: the_color( blue, light-grayish );
			font: {
				size: 18px;
			}

			@include media-breakpoint-up( md ) {
				font: {
					size: ( $font-size * 1px );
				}
			}
			// line-height: ( $line-height / $font-size );
		}


		// .Single-article .title
		.title {
			@extend %font-body, %margin-0;
			@include letter-spacing( 20 );

			font-size: 35px;
			line-height: #{ $base-line-height * 2 }px;

			@include media-breakpoint-up( md ) {
				font-size: 40px;
			}
		}


		// .Single-article .content
		.content {
			color: the_color( gray, very-dark-01 );

			h3, strong, b { @extend %font-bold; }

			p { @include letter-spacing( 15 ); }

			h3 {
				color: the_color( gray, very-dark );
				font-size: 20px;
				line-height: #{ $base-line-height }px;
			}

			.wp-block-image {
				@include margin( bottom #{ $base-line-height }px );

				a {
					@extend .d-block;

					&::after {
						content: normal;
					}
				}
			}

			strong, b, a {
				color: the_color( orange, very-soft-01 );
			}

			a {
				@extend %position-relative;

				&::after {
					@extend %Transition-ease;
					@include absolute( top 100% right 0 left 0 );

					height: 1px;
					background: { color: transparent; }
					content: '';
				}
				&:hover {
					&::after {
						background: { color: currentcolor; }
					}
				}
			}

			img {
				@extend .d-inline-block;
				@extend %vertical-align-middle;

				max-width: 100%;
				width: 100%;
				height: #{ $base-line-height * 7 }px;
				object-fit: cover;
				object-position: center;

				@include media-breakpoint-up( md ) {
					height: #{ $base-line-height * 14 }px;
				}
			}

			figure img {
             	transition: opacity .5s linear 0.2s;

				/* Image with 'data' attribute is hidden */
				&[data-lazy-src] {
				/* we set the opacity to 0 */
				   opacity: 0;
				}

				/* Image without 'data' attribute is (or becomes) visible */
				&.lazyloaded {
				   	opacity: 1;
				}
			}
		}


		/**
		 * Rich content link
		 *
		 * @uses .single-article .content .rich-content-link
		 */
		.rich-content-link {
			@extend .d-inline-block, %position-relative, %Cursor-pointer;

			z-index: 1;

			&.is-active span,
			&:hover span {
				background-image: url( '#{ map-get( $directories, svg ) }marker-stroke-orange.svg' );

				transform: translate3d( 5px, -3px, 0 );
			}

			span {
				@extend %Position-absolute-center, .d-inline-block, %Transition-ease, %Pointer-events-none;

				background: {
					image: url( '#{ map-get( $directories, svg ) }marker-stroke-blue.svg' );
					position: center;
					size: 100% 100%;
				}
				content: '';
				transition: transform .3s ease-in-out;

				z-index: 10;

			}

			i {
				@extend %position-relative, %font-style-normal;

				z-index: 20;

				b, strong {
					color: the_color( gray, very-dark-01 );
				}
			}
		}


		.image-content-link {
			$animation-duration: 1.15s;
			$this: &;
			@extend %position-relative;

			z-index: 25;

			.letters {
				@extend %position-relative, %Cursor-pointer;
			}

			i {
				@extend .d-inline-block, %Transition-ease;

				animation: {
					direction: alternate;
					duration: .7s;
					iteration-count: infinite;
					name: wave;
					timing-function: ease-in-out;
					play-state: running;
				}
			}

			.image {

				@include padding( top #{ $base-line-height }px bottom #{ $base-line-height }px );
				@include absolute( left 0 bottom 100% );
				@extend %overflow-hidden, .d-inline-block;

				visibility: hidden;

				img {
					@extend .d-inline-block, %vertical-align-middle;
					@extend %Transition-ease;
					max-width: none;

					opacity: 0;
				}

				&::after {
					@extend .d-block;
					@include absolute( top 0 right 0 bottom 0 left 0 );
					@include margin( top #{ $base-line-height }px bottom #{ $base-line-height }px );

					background: { color: the_color( orange, light-grayish-01 ); }
					content: '';

					animation-duration: $animation-duration;
					transform-origin: right center;
					transform: translateX( 0% ) scaleY( 1 ) scaleX( 0 );
				}
			}

			&::before {
				@extend %Position-fixed-center, .d-block, %Pointer-events-none, %Transition-ease;

				background-color: rgba( the_color( white ), .9 );
				content: '';

				opacity: 0;
				visibility: hidden;
			}

			&:hover {

				i {
					animation: none;
				}

				.image img {
					transition-delay: ( $animation-duration / 2 );
				}

				.image,
				.image img,
				&::before {
					opacity: 1;
					visibility: visible;
				}

				.image {

					&::after {
						animation-name: filler;
						animation-iteration-count: 1;
						animation-timing-function: cubic-bezier( 0.81, 0.15, 0.26, 0.99 );
					    animation-fill-mode: forwards;
					}
				}
			}
		}

		.wp-block-embed {
			// Add responsiveness to common aspect ratios.
			&.wp-embed-aspect-21-9 .wp-block-embed__wrapper,
			&.wp-embed-aspect-18-9 .wp-block-embed__wrapper,
			&.wp-embed-aspect-16-9 .wp-block-embed__wrapper,
			&.wp-embed-aspect-4-3 .wp-block-embed__wrapper,
			&.wp-embed-aspect-1-1 .wp-block-embed__wrapper,
			&.wp-embed-aspect-9-16 .wp-block-embed__wrapper,
			&.wp-embed-aspect-1-2 .wp-block-embed__wrapper {
				position: relative;

				&::before {
					content: "";
					display: block;
					padding-top: 50%; // Default to 2:1 aspect ratio.
				}

				iframe {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}

			&.wp-embed-aspect-21-9 .wp-block-embed__wrapper::before {
				padding-top: 42.85%; // 9 / 21 * 100
			}

			&.wp-embed-aspect-18-9 .wp-block-embed__wrapper::before {
				padding-top: 50%; // 9 / 18 * 100
			}

			&.wp-embed-aspect-16-9 .wp-block-embed__wrapper::before {
				padding-top: 56.25%; // 9 / 16 * 100
			}

			&.wp-embed-aspect-4-3 .wp-block-embed__wrapper::before {
				padding-top: 75%; // 3 / 4 * 100
			}

			&.wp-embed-aspect-1-1 .wp-block-embed__wrapper::before {
				padding-top: 100%; // 1 / 1 * 100
			}

			&.wp-embed-aspect-9-16 .wp-block-embed__wrapper::before {
				padding-top: 177.78%; // 16 / 9 * 100
			}

			&.wp-embed-aspect-1-2 .wp-block-embed__wrapper::before {
				padding-top: 200%; // 2 / 1 * 100
			}
		}
	}


	// .Single-aside
	&-aside {
		@extend %Transition-ease;
		position: sticky;
		top: 0;

		&::before {
			@extend %Position-absolute-center, .d-block, %Transition-ease;
			@include margin( left percentage( -83 / 397 ) );
			@include autoAlpha( 0 );

			background: { color: rgba( the_color( white ), .9 ); }
			content: '';
			z-index: -1;

			@at-root .aside--is-open & {
				@include autoAlpha( 1 );
			}

			@include media-breakpoint-up( md ) {
				@include autoAlpha( 1 );

				content: none;
			}
		}
	}
}
