/**
 * Header
 *
 * @uses .Header
 */
.Header {
	
	/**
	 * Logo
	 *
	 * @uses .Header-logo
	 */
	&-logo {
		@extend %text-align-center, %text-align-md-left;

		a {
			@extend .d-block;
			@include margin( top 20px bottom 25px );

			@include media-breakpoint-up( md ) {
				
				@include margin( 
					top $grid-gutter-width * 2 
					bottom auto
				);
			}
		}
		svg {
			@extend .d-inline-block, %vertical-align-middle;
			
			max-width: 100%;
			max-height: 59px;
			fill: currentColor;
			
			@include media-breakpoint-up( 'lg' ) { max-width: 76px; }
		}

		@at-root .Single-header & a {
			@include margin( top 24px );

			@include media-breakpoint-up( md ) { @include margin( top 36px ); }
		}

		// @at-root .About-header & a {
		// 	@include margin( top 24px );

		// 	@include media-breakpoint-up( md ) { @include margin( top 36px ); }
		// }
	}
}