{#

/views/partials/contact

#}
<div class="Contact"{{ background_image_newsletter ? " style=\"background-image: url(#{ background_image_newsletter })\"" }}>
	<div class="l-container h-100">
		<div class="row h-100 d-flex align-items-center">
			<div class="col-12 col-md-10 offset-md-1">
				<h2 class="title js-contact-title">
					{{- pll__( 'Ça te plaît ?' ) -}}
				</h2>
				<p class="catch-phrase">
					{{- pll__( 'Abonne-toi et reçois les dernières actualités directement dans ta boîte mail.' ) -}}
				</p>

				{{ function( 'mc4wp_show_form', 4609, [], false ) }}

			</div>
		</div>
	</div>
</div>
