<span class="image-content-link js-image-content-link">
	<span class="image js-image-content-link-image">
		<img src="{{ url }}" data-no-lazy="1">
	</span>
	<span class="letters">{{- letters | join -}}</span>
</span>
