{#

Partials: menu

#}
<div class="page-header color-gray-very-dark">
	<div class="l-container">
		<div class="row d-flex align-items-center">
			<div class="col-4 d-md-none">
				<button type="button" class="Menu-search-button js-search-button">
					{% include 'svg/use.html.twig' with { icon: 'magnifying-glass', classes: [ 'Icon', 'magnifying-glass' ] } %}
				</button>
			</div>
			<div class="col-4 col-md-1">
				<div class="Header-logo">{% include 'components/header-logo.html.twig' %}</div>
			</div>
			<div class="col-4 d-flex d-md-none justify-content-end">
				<button type="button" class="Menu-button js-toggle-menu-button"></button>
			</div>
			<div class="col-12 col-md-10 offset-md-1">
				<ul class="Menu" role="navigation">
					{%
						include 'components/menu.html.twig'
						with {
							menu : menu.categories,
							language: true,
							search: true,
							layout: {
								desktop: true,
								marker: true
							}
						}
					%}
				</ul>
			</div>
		</div>
	</div>
</div>
