{#

partials/recipe

@author  Jérémy Levron <jeremylevron@19h47.fr>

#}

<div class="Recipe">
	{% include 'partials/recipe-print.html.twig' %}

	{% if post.layout == 1 %}
		{% include 'partials/carousel-recipe.html.twig' %}
	{% else %}
		{% include 'partials/recipe-simple.html.twig' %}
	{% endif %}
</div>
