{#
    
    /**
     * partials/recipe
     * 
     * @author  Jérémy Levron <jeremylevron@19h47.fr
     */
    
#}

<div class="Recipe">

	<header class="Recipe-header">
		<h2>{{- title ? title : pll__( 'Les recettes pas à pas' ) -}}</h2>
		<button class="Link-readmore Link-marker Link-marker--blue print js-print">
			<span>{{- pll__( 'Imprimer' ) -}}</span>
		</button>
	</header>

	{% include 'partials/recipe-print.twig' %}

	{% if post.layout == 1 %}
		{% include 'partials/slider-recipe.twig' %}
	{% else %}
		{% include 'partials/recipe-simple.twig' %}
	{% endif %}

</div>
