{#
    
    /**
     * partials/recipe
     * 
     * @author  Jérémy Levron <levronjeremy@19h47.fr
     */
    
#}

<div class="Recipe">

	<header class="Recipe-header">
		<h2>{{- title ? title : pll__( 'Les recettes pas à pas' ) -}}</h2>
		<a class="Link-readmore Link-marker Link-marker--blue" href="">
			<span>{{- pll__( 'Imprimer' ) -}}</span>
		</a>
	</header>

	{% if post.layout == 1 %}
		{% include 'partials/recipe-slider.twig' %}
	{% else %}
		{% include 'partials/recipe-simple.twig' %}
	{% endif %}


</div>
