{#

    /**
     * partials/slider-videos
     *
     * @author  Jérémy Levron <jeremylevron@19h47.fr
     */

#}


<div class="Slider-category-videos js-slider-category-videos">

	{# <div class="l-container"> #}
		{% spaceless %}
		<ul class="items js-slider-category-videos-container">
		{% for post in posts %}

			<li class="item">
				{% include 'components/list-post.twig' with { video: true } %}
			</li>

		{% endfor %}
		</ul>

		{% endspaceless %}

		<button class="previous js-slider-category-videos-previous"></button>
		<button class="next js-slider-category-videos-next"></button>

	{# </div> #}

</div>