{#

partials/slider-post

@author  Jérémy Levron <jeremylevron@19h47.fr

#}

<div class="Slider-post js-slider-post">

    <ul class="Slider-post__items js-slider-post-container">
        {% for image in post.gallery %}
	        <li class="Slider-post__item">
	        	<img class="Slider-post__img" src="{{ TimberImage( image ).src( 'large' ) }}" alt="{{ TimberImage( image ).alt }}" width="{{ TimberImage( image ).width }}" height="{{ TimberImage( image ).height }}">
	        </li>
    	{% endfor %}
    </ul>

    {% if post.gallery | length > 1 %}

	    <div class="Slider-post__progressbar js-slider-post-progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>

		{% include 'partials/slider-navigation.html.twig' with { count: post.gallery | length } %}

	{% endif %}

</div>
