<div class="Slider__navigation">
	<button type="button" class="previous js-previous"></button>
	<button type="button" class="next js-next"></button>
	<span class="count">
		<i class="count-inner js-count" data-count="1">
			/&nbsp;{{ count -}}
		</i>
	</span>
</div>
