{#

Slider navigation

#}
<div class="Slider__navigation">
	<button type="button" class="previous js-previous" aria-label="{{ pll__( 'Précédent' ) }}"></button>
	<button type="button" class="next js-next" aria-label="{{ pll__( 'Suivant' ) }}"></button>
	<span class="count">
		<i class="count-inner js-count" data-count="1">
			/&nbsp;{{ count -}}
		</i>
	</span>
</div>
