<div class="Slider-post js-slider-post">
    <ul class="Slider-post__items js-slider-post-container">
        {% for image in post.gallery %}
       
        <li class="Slider-post__item">
        	<img class="Slider-post__img" src="{{ TimberImage( image ) }}" alt="{{ TimberImage( image ).alt }}">
        </li>
    	{% endfor %}

    </ul>

    {% if post.gallery|length > 1 %}

    <div class="Slider-post__progressbar js-slider-post-progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>

    {# Navigation #}
    <div class="Slider-post__navigation">

    	<button class="previous js-slider-post-previous"></button>
    	<button class="next js-slider-post-next"></button>

    	<span class="count">
    		<i class="count-inner js-slider-post-count" data-count="1">
    			/{{ post.gallery|length }}
    		</i>
    	</span>

    </div>

	{% endif %}


</div>