<span id="image-content-{{ id }}" class="image-content-link js-image-content-link page-block" data-node-type="ImageContent">
	<span class="image">
		<img class="js-image" src="{{ url }}" data-no-lazy="1">
	</span>
	<span class="letters">{{- letters | join -}}</span>
</span>
