/**
 * Banner
 *
 * @uses .Banner
 */
.Banner {
	height: 450px;
	background: {
		size: cover;
		attachment: fixed;
	}

	a {
		@extend %display-xs-inline-block, %vertical-align-middle;

		height: 162px;
	}
}