/**
 * Comment
 *
 * @uses 	.Comment
 * @author 	Jérémy Levron
 */
.Comment {
	$parent-size: 1088;
	@extend .background-white;
	@include margin( right auto bottom 38px left auto );
	@include padding( 
		top percentage( 36 / $parent-size ) 
		right percentage( 36 / $parent-size ) 
		bottom percentage( 36 / $parent-size ) 
		left percentage( 36 / $parent-size ) 
	);

	box-shadow: -1px 3px 15px 0px rgba( the_color( orange, very-soft-01 ), .25 ); 
	width: percentage( $parent-size / $container-width-without-outer-gutter-unitless );
	

	/**
	 * Comment list
	 *
	 * @uses .Comment-list
	 */
	&-list { @extend %list-unstyled; }
	
	
	/**
	 * Comment inner
	 *
	 * @uses .Comment-inner
	 */
	&-inner {
		@include padding( left 39px );
		@extend %display-xs-inline-block, %vertical-align-top;
		
		// Don't forget to interpolate in CSS calc built in function
		width: calc( 100% - #{ $grid-gutter-width * 2 } );
	}


	/**
	 * Comment aside
	 *
	 * @uses .Comment-aside
	 */
	&-aside { @extend %display-xs-inline-block, %vertical-align-top; }


	/**
	 * Author
	 *
	 * @uses .Comment .author
	 */
	.author {
		@extend %font-semibold, %margin-xs-0;
		// @include font( 16, 69.99 );
		
		font: {
			size: ( 16 / $base-font-size ) * 1em;
		}
		color: the_color( orange, very-soft-01 );
	}

	
	/**
	 * Date
	 *
	 * @uses .Comment .date
	 */
	.date {
		@include margin( top 0 );
		@extend %font-title, %font-regular;
		// @include font( 12, 80 );
		
		font: {
			size: ( 12 / $base-font-size ) * 1em;
		}
		color: the_color( blue, light-grayish );
	}

	
	/**
	 * Content
	 *
	 * @uses .Comment .content
	 */
	.content {
		@extend %font-title;
		@include font( 13, 22, 15 );
	}

	
	/**
	 * Avatar
	 *
	 * @uses .Comment .avatar
	 */
	.avatar {
		@extend %display-xs-inline-block, %vertical-align-middle;
		@include size( $grid-gutter-width * 2 );
		box-shadow: -1px 3px 15px 0px rgba( the_color( red, bright ), .15 ); 
	}

	
	/**
	 * Reply
	 *
	 * @uses .Comment .reply
	 */
	.reply {
		@include margin( bottom 0 );

		a {
			@extend .Link-readmore, .Link-marker, .Link-marker--orange-soft;
			@extend %font-title, %font-semibold;
			@include font( 13, 33 );

			color: the_color( orange, very-soft-01 );

			&:hover {
				&::before {
					opacity: .3!important;
				}
			}
		}
	}
}