/**
 * Comments
 *
 * @uses .Comments
 */
.Comments {
	@include padding( top 20px bottom 48px );
	background: 
	    linear-gradient(
	    	33deg, 
	    	rgba( the_color( orange, light-grayish-01 ), 1 ) 0%,
	    	rgba( the_color( orange, light-grayish-02 ), 1 ) 100%
	    );
	

	/**
	 * Header
	 *
	 * @uses .Comments-header
	 */
	&-header { @extend %text-xs-center; }


	.title {
		@extend %font-bold, %margin-xs-0;
		@include font( 45, 80, 15 );
		
		color: the_color( white );
	}


	.catchphrase {
		$font-size: 15;
		$line-height: 69.99;

		@extend %font-semibold, %font-title;
		
		color: the_color( white );
		font: {
			size: ( $font-size / $base-font-size ) * 1em;
		}
		// line-height: $line-height / $font-size;
	}


	.expand {
		@extend %display-xs-block, %position-xs-relative;
		@include size( 22px );
		@include margin( top -30px right auto bottom -15px left auto );

		background: {
			size: 100%;
		}
		z-index: 1;

		&.minus {
			background: {
				image: url('#{ map-get( $directories, svg ) }minus.svg' );
			}
		}

		&.plus {
			background: {
				image: url('#{ map-get( $directories, svg ) }plus.svg' );
			}	
		}

	}
}