/**
 * Link
 *
 * @uses .Link
 */
.Link {
	$this: &;


	&-blogrolls {

		&-header {

			@include from( 'md' ) {
				
				@include margin( 
					right percentage( 76 / $container-width-without-outer-gutter-unitless ) 
					left percentage( 76 / $container-width-without-outer-gutter-unitless ) 
				);
			}
		}

		&-category-recompense {}
		&-category-presse { 
			@include margin( bottom 70px ); 

			&__container {
			    white-space: nowrap;
	    		overflow-x: scroll;

	    		@include from( 'md' ) {
	    			overflow-x: visible;
	    			white-space: normal;
	    		}
			}
		}


		.title {
			@extend .color-gray-very-dark;
			@extend %font-bold;
			@include margin( top 45px bottom 45px );
			@include font( 20, 33 );
		}
	}


	&-blogroll {

		.description {
			@extend .color-blue-light-grayish;
			@extend %font-title, %font-semibold;
			@include margin( top $grid-gutter-width );
			@include font( 12.02, 29.05, 15 );
		}

		&-category-recompense {
			@extend %text-xs-center;
			@include margin( top 45px bottom 45px );

			.thumbnail {
				@extend %display-xs-inline-block, %vertical-align-middle;
				@include size( 218px, 120px );

				max-width: 100%;

				object-fit: none;
				object-position: 50% 50%; 
			}
		}

		&-category-presse {
			@extend %display-xs-inline-block;
			@include margin( 
				top $grid-gutter-width
				right $grid-gutter-width 
				bottom $grid-gutter-width
				left $grid-gutter-width 
			);

			@include from( 'md' ) {
				@include margin( 
					right percentage( $grid-gutter-width-unitless / $container-width-without-outer-gutter-unitless ) 
					left percentage( $grid-gutter-width-unitless / $container-width-without-outer-gutter-unitless ) 
				);				
			}
			
			.thumbnail {
				@extend %display-xs-inline-block, %vertical-align-middle;
				@include size( auto, 60px );
				filter: grayscale(100%);
				opacity: .2;
				max-width: 180px;

				object-fit: contain;
				object-position: 50% 50%; 
			}

			.description {
				@extend %display-xs-none;
			}
		}
	}

	/**
	 * Readmore
	 *
	 * @uses .Link-readmore
	 */
	&-readmore {
		@extend %Pointer-events-auto;
		
		color: currentColor;
		font: {
			family: map-get( map-get( $font, families ), title );
			weight: map-get( map-get( $font, weights ), bold );
		}
	}


	/**
	 * Marker
	 *
	 * @uses .Link-marker
	 */
	&-marker {
		@extend %position-xs-relative, %Transition-ease;
		@include padding( right 10px left 10px );

		&::before {
			@extend 
				%display-xs-inline-block, 
				%Transition-ease, 
				%Pointer-events-none;

			@include absolute( top 50% right 0 left 0 );

			background: {
				position: center;
				size: 100% 100%;
			}
			content: '';
			height: 100%;

			opacity: 0;
			transform: translate3d( 0, ( $grid-gutter-width / 4 ), 0 );

			z-index: 10;
		}

		span {
			@extend %position-xs-relative;

			z-index: 20;
		}


		&:hover {

			&::before {
				transform: translate3d( 0, 0, 0 );
				opacity: 1;
			}
		}

		$colors: orange orange-soft blue white;

		@each $color in $colors {

			&#{ $this }-marker--#{ $color }::before {

				background: {
					image: url( '#{ map-get( $directories, svg ) }marker-stroke-#{ $color }.svg' );
				}
			}
		}
	}
}