/**
 * List post
 *
 * @uses .List-post
 */
.List-post {
	@include margin( bottom 40px );

	@include from( 'md' ) { @include margin( bottom 70px ); }
	
	animation: {
		name: fade-in-down;
		duration: .3s;
		timing-function: ease-in;
	}
	opacity: 1;
	transform: translateY( 0 );

	/**
	 * Meta
	 *
	 * @uses .List-post-meta
	 */
	&-meta {
		$font-size: 13.01;

		@extend %font-semibold, %font-title, %text-xs-center;
		@include margin( top 20px );
		@include letter-spacing( 20 );

		color: the_color( blue, light-grayish );
		font: {
			size: ( $font-size * 1px );
		}
		
		// In search result context
		@at-root .Search .suggest & { color: the_color( white ); }

		// line-height: ( 80.06 / $font-size );
	}


	/**
	 * Title
	 *
	 * @uses .List-post .title
	 */
	.title {
		$font-size: 15.01;

		@extend %font-bold, %margin-xs-0, %text-xs-center;
		
		// width: 100%;
		color: the_color( gray, very-dark );
		font: {
			size: ( $font-size * 1px );
		}
		
		// In search result context
		@at-root .Search .suggest & { color: the_color( white ); }

		@include from( 'md' ) {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;	
		}
	}
	

	/**
	 * Date
	 *
	 * @uses .List-post .date
	 */
	.date { @extend %display-xs-inline-block, %margin-xs-0; }
	

	/**
	 * Categories
	 *
	 * @uses .List-post .categories
	 */
	.categories { @extend %lowercase; }

	
	/**
	 * Link
	 *
	 * @uses .List-post .link
	 */
	.link { @extend %display-xs-block; }
	

	/**
	 * Thumbnail
	 *
	 * @uses .List-post .thumbnail
	 */
	.thumbnail {
		@extend %display-xs-inline-block, %vertical-align-middle;
		@include size( 100%, 273px );

		object-fit: cover;
	}


	/**
	 * Category videos
	 *
	 * @uses .List-post-category-videos
	 */
	&-category-videos {

		@at-root .Front-page & {
			
			.List-post-meta {
				@extend %Transition-ease;
				opacity: 0;
				transform: translate3d( 0, $grid-gutter-width * .5, 0 );
			}
		}
		
		// @at-root .Front-page .item .List-post-category-videos { @extend %Pointer-events-none; }
		// @at-root .Front-page .item.slick-current .List-post-category-videos { @extend %Pointer-events-auto; }

		@at-root .Front-page .slick-current & .List-post-meta {

			opacity: 1;
			transform: translate3d( 0, 0, 0 );
		}


		@at-root .Front-page .List-post-category-videos .thumbnail {
			box-shadow: 1px 3px 9px 0px rgba( the_color( gray, very-dark ), .09 ); 
		}
	}


	/**
	 * Relationship
	 *
	 * @uses .List-post-relationship
	 */
	&-relationship {
		
		.List-post-meta {
			@extend %Transition-ease;
			opacity: 0;
			transform: translate3d( 0, $grid-gutter-width * .5, 0 );
		}

		@at-root .slick-active & .List-post-meta {
			opacity: 1;
			transform: translate3d( 0, 0, 0 );
		}
	}
}