/**
 * Menu
 *
 * @uses .Menu
 * @author Jérémy Levron <levronjeremy@19h47.fr>
 */
.Menu {
	$this: &;
	$margin: 68;

	@extend %list-unstyled;
	@extend .clearfix;
	
	color: currentColor;

	/**
	 * Front page header
	 *
	 * @uses .Front-page-header .Menu
	 */
	@at-root .Front-page-header & {

		@include margin( 
			top 72px 
			bottom 119px
			left ( ( $margin / 2 ) * -1px )
		);
	}


	/**
	 * Category header
	 *
	 * @uses .Category-header .Menu
	 */
	@at-root .Category-header & {

		@include margin( 
			top 72px 
			bottom 119px
			left ( ( $margin / 2 ) * -1px )
		);
	}


	/**
	 * Single header
	 *
	 * @uses .Single-header .Menu
	 */
	@at-root .Single-header & {}


	/**
	 * Item
	 *
	 * @uses .Menu .item
	 */
	.item {

		@extend %display-xs-inline-block, %vertical-align-middle, %position-xs-relative;

		/**
		 * Link 
		 *
		 * @uses .Menu .item a
		 */
		a {}
		

		/**
		 * Current item
		 *
		 * @uses .Menu .item.--is-current
		 */
		&.is-current {}


		/**
		 * Stroke marker
		 *
		 * @uses .Menu .item.has-stroke-marker
		 */
		&.has-stroke-marker {
			a {
				@extend %position-xs-relative, %Transition-ease;

				&::before {
					@extend %Position-absolute-center, %display-xs-inline-block, %Transition-ease, %Pointer-events-none;

					background: {
						image: url( '#{ map-get( $directories, svg ) }marker-stroke.svg' );
						position: center;
						size: 100% 100%;
					}
					content: '';

					opacity: 0;
					transform: translate3d( ( ( $grid-gutter-width / 4 ) * -1 ), 0, 0 );

					z-index: 10;
				}

				span {
					@extend %position-xs-relative;

					z-index: 20;
				}


				&:hover {
					
					color: the_color( white );

					&::before {
						transform: translate3d( 0, 0, 0 );
						opacity: 1;
					}
				}
			}
		}


		/**
		 * Category item
		 *
		 * From WordPress
		 * 
		 * @uses .Menu .item.menu-item-object-category
		 */
		&.menu-item-object-category {
			$padding: 10;
			$font-size: 40;

			@extend 
				%font-title,
				%font-semibold;

			@include margin( 
				bottom 0
				right ( ( ( $margin / 2 ) - $padding ) * 1px )
				top 0
				left ( ( ( $margin / 2 ) - $padding ) * 1px )
			);

			font: {
				size: ( $font-size / $base-font-size ) * 1em;
			}
			line-height: ( 42 / $font-size );

			a {
				@extend %lowercase;
				@include padding(
					// top ( $padding * 1px ) 
					right ( $padding * 1px ) 
					// bottom ( $padding * 1px ) 
					left ( $padding * 1px )
				);
			}
		}


		/**
		 * Lang
		 */
		&.menu-item-lang {
			$orange: the_color( orange, very-soft-01 );
			$font-size: 13;

			@extend %font-title, %font-semibold, %float-xs-right, %Transition-ease;
			@include margin( top 3px bottom 0 );

			color: the_color( blue, light-grayish );
			font: {
				size: $font-size * 1px;
			}
			line-height: 44.8px;


			@at-root .Single-header & {
				color: the_color( white );
			}

			&.lang-item-fr {
				.fr {
					color: $orange;

					&:hover {
						color: shade( $orange, .7 );
					}
				}
			}

			&.lang-item-en {
				.en {
					color: $orange;

					&:hover {
						color: shade( $orange, .7 );
					}
				}
			}

			&:hover {
				color: shade( the_color( blue, light-grayish ), .7 );
			}
		}


		/**
		 * Search
		 */
		&.menu-item-search {
			$size: (
				width: 20,
				height: 20
			);

			@extend %margin-xs-0, %float-xs-right;

			line-height: ( 42 / 15 );

			.menu-item-search__button {

				@include margin( right 50px );

				.Icon {
					@extend %vertical-align-middle, %display-xs-inline-block;
					max-width: ( map-get( $size, width ) * 1px );
					max-height: ( map-get( $size, height ) * 1px );

					fill: currentColor;
				}
			}
		}


		/**
		 * Button
		 */
		&.menu-item-button {
			$size: (
				width: 20,
				height: 20
			);

			@extend %margin-xs-0, %float-xs-right;

			line-height: ( 42 / 15 );

			button {

				@include margin( left 50px );

				.Icon {
					@extend %vertical-align-middle, %display-xs-inline-block;
					max-width: ( map-get( $size, width ) * 1px );
					max-height: ( map-get( $size, height ) * 1px );

					fill: currentColor;
				}
			}
		}
	}


	/**
	 * Footer
	 *
	 * @uses .Footer .Menu .menu-item
	 */
	@at-root .Footer & .menu-item {
		$font-size: 13;
		
		@extend %font-title, %font-semibold;
		@include margin( top 0 right 20px bottom 0 left 20px );

		color: the_color( gray, very-dark );

		font-size: $font-size * 1px;
		line-height: ( 33 / $font-size );

		a {
			@extend %Transition-ease;
			@include padding( top 15px right 15px bottom 15px left 15px );

			&:hover {
				color: the_color( orange, very-soft-01 );
			}
		}
	}
}