/**
 * Search
 *
 * @uses .Search
 */
.Search {
	$this: &;

	@extend %Position-fixed-center, %Transition-ease;
	@include padding( 
		top ( ( ( 130 * 100 ) / 900 ) * 1vh )
		bottom ( ( ( 130 * 100 ) / 900 ) * 1vh )
	);
	@include size( 100vw, 100vh );
	// background: linear-gradient(
	// 	33deg, 
	// 	the_color( orange, light-grayish-01 ) 0%,
	// 	the_color( orange, light-grayish-02 ) 100%
	// );
	background: {
		color: the_color( orange, very-soft-03 );
	}
	
	opacity: 0;
	overflow-y: scroll;
	visibility: hidden;
	z-index: 40;

	@at-root .#{ map-get( $state-classes, search-open ) } & {

		opacity: 1;
		visibility: visible;
	}

	
	/**
	 * Inner
	 *
	 * @uses .Search-inner
	 */
	&-inner {
		@include padding( 
			right percentage( 76 / 1240 )
			left percentage( 76 / 1240 )
		);
		@include margin( bottom 40px );
	}
	

	/**
	 * Suggest
	 *
	 * @uses .Search .suggest
	 */
	.suggest {

		@extend %Transition-ease;
		
		opacity: 1;

		@at-root #{ $this }.is-loading .suggest {
			opacity: .3;
		}
	}
	

	/**
	 * Loader
	 *
	 * @uses .Search .loader
	 */
	.loader {
		$font-size: 16;
		$line-height: 20.97;
		
		@extend %Transition-ease;
		@include absolute( top 0 right 0 bottom 0 );
		// @include padding( top 16px right 18px bottom 16px );

		line-height: ( $line-height / $font-size );
		opacity: 0;
		visibility: hidden;

		@at-root #{ $this }.is-loading .loader {
			opacity: 1;
			visibility: visible;
		}

		span {
			$color: the_color( orange, very-soft-02 );

			@extend %display-xs-inline-block, %font-title;

			animation: {
				name: fade-out-up;
				timing-function: ease-in-out;
				duration: 3.5s;
				iteration-count: infinite;
				fill-mode: forwards;
			}

			font: {
				size: ( $font-size * 1px );
			}
			color: $color;
		}
	}
	
	
	/**
	 * Close
	 *
	 * @uses .Search .close
	 */
	.close {
		$size: 23;

		@include absolute( top 0 right 0 );
		@include margin( 
			top percentage( 63 / $psd-width-unitless )
			right percentage( 100 / $psd-width-unitless ) 
		);
		@include size( $size * 1px );

		z-index: 10;

		svg {
			max-width: $size * 1px;
			max-height: $size * 1px;

			fill: the_color( white );
		}
	}


	/**
	 * Title
	 */
	.title {
		$font-size: 60;

		@extend %font-semibold, %font-title, %margin-xs-0;
		
		color: the_color( gray, very-dark-02 );
		font: {
			size: ( $font-size * 1px );
		}
		// line-height: ( 41.94 / $font-size );
	}

	
	/**
	 * Informations
	 *
	 * @uses .Search .informations
	 */
	.informations {
		$font-size: 16;
		$line-height: 20.97;

		@extend %font-title, %font-medium;

		@include letter-spacing( 40 );
		@include margin( top 1em );

		// display: none;
		color: the_color( orange, very-soft-02 );
		font: {
			size: ( $font-size * 1px );
		}
		line-height: ( $line-height / $font-size );
		opacity: 1;
		
		span:nth-child( 1 ) { @extend %display-xs-none; }
		span:nth-child( 3 ) { @extend %display-xs-none; }
		
		&::before {
			@extend %display-xs-inline-block;

			content: attr( data-total );
		}

		&[data-total="0"] {
			
			span:nth-child( 1 ) { @extend %display-xs-inline-block; }
			span:nth-child( 2 ) { @extend %display-xs-none; }
			&::before { @extend %display-xs-none; }
		}
		
		// When block is loading
		@at-root #{ $this }.is-loading .informations { opacity: .3; }

		// When there isn't result
		@at-root #{ $this }.not-found .informations span:nth-child( 1 ) { display: none!important; }
		@at-root #{ $this }.not-found .informations span:nth-child( 2 ) { @extend %display-xs-none; }
		@at-root #{ $this }.not-found .informations span:nth-child( 3 ) { @extend %display-xs-block; }
	}


	/**
	 * Input
	 *
	 * @uses .Search .input
	 */
	.input {
		$font-size: 60;
		$line-height: 41.94;
		$color: the_color( orange, very-soft-02 );

		@extend %display-xs-block, %font-title, %font-semibold;
		// @include padding( top 16px right 18px bottom 16px left 18px );
		// @include margin( bottom $grid-gutter-width );
		@include reset-placeholder( $color );
		// @include letter-spacing( 40 );
		@include responsive-font( ( ( $font-size * 100 ) / $psd-width-unitless ) * 1vw, 20px, ( $font-size * 1px ) );
		
		color: the_color( white );
		// font: { size: ( $font-size * 1px ); }

		border: {
			bottom: {
				color: the_color( white );
				style: solid;
				width: 1px;
			}
		}

		line-height: ( $line-height / $font-size );
		width: 100%;

		&:focus,
		&:active {
			outline: none;
		}
	}
}