/**
 * Single menu
 *
 * @uses .Single-menu
 */
.Single-menu {
	$this: &;

	@extend .background-white;
	@extend %Position-fixed-center, %overflow-scroll, %Transition-ease;
	@include autoAlpha( 0 );

	z-index: 51;

	@at-root .#{ map-get( $state-classes, single-menu-open ) } & { @include autoAlpha( 1 ); }

	&.is-hover {
		
		@include from( 'md' ) {

			#{ $this }__item:not(:hover) { opacity: .07; }
		}
	}

	&__items {
		@extend %list-unstyled, %margin-xs-0;

		color: the_color( gray, very-dark );
		white-space: nowrap;
	}


	&__background { @extend %Position-absolute-center; }
	

	/**
	 * Item
	 *
	 * @uses .Single-menu__item
	 */
	&__item {
		$font-size: 60;
		$line-height: 41.94;

		@extend 
			%display-xs-block, 
			%display-md-inline-block, 
			%font-title, 
			%font-semibold, 
			%Transition-ease;
			
		@include font( 40, 42 );
		@include margin( 
			top ( ( 68 / 2 ) * 1px )
			right ( ( ( 68 / 2 ) - 10 ) * 1px )
			bottom ( ( 68 / 2 ) * 1px )
			left ( ( ( 68 / 2 ) - 10 ) * 1px )
		);

		animation: {
			name: fade-in-down;
			duration: .15s;
			timing-function: ease-in-out;
			play-state: paused;
			fill-mode: backwards;
		}

		@include from( 'md' ) {
			@include font( $font-size, $line-height );

			@include margin( 
				top 0
				right $grid-gutter-width
				bottom 0
				left $grid-gutter-width
			);

			&:first-child { @include margin( left 0 ); }

			&:last-child { @include margin( right 0 ); }

		}


		// opacity: 0;
		// transform: translateY( ( $grid-gutter-width * -1 ) );
		
		@at-root .#{ map-get( $state-classes, single-menu-open ) } & {
			animation: {
				play-state: running;
			}
		}

		a { @include padding( top 10px right 10px bottom 10px left 10px ); }


		/**
		 * Stroke marker
		 *
		 * @uses .Menu .item.--has-stroke-marker
		 */
		&.has-stroke-marker {
			a {
				@extend %position-xs-relative, %Transition-ease;

				&::before {
					@extend 
						%Position-absolute-center, 
						%display-xs-inline-block, 
						%Transition-ease, 
						%Pointer-events-none;
					@include autoAlpha( 0 );

					background: {
						image: url( '#{ map-get( $directories, svg ) }marker-stroke.svg' );
						position: center;
						size: 100% 100%;
					}
					content: '';

					transform: translate3d( ( ( $grid-gutter-width / 4 ) * -1 ), 0, 0 );

					z-index: 10;
				}

				span {
					@extend %position-xs-relative;

					z-index: 20;
				}


				&:hover {
					
					color: the_color( white );

					&::before {

						@include autoAlpha( 1 );

						transform: translate3d( 0, 0, 0 );
					}
				}
			}
		}
	}

	&__thumbnail {
		$height: 403;
		@extend %position-xs-relative;

		height: ( $height * 1px );
		max-height: ( ( $height * 100 ) / 900 ) * 1vh;
		
		
		img {
			@extend %Position-absolute-center, %display-xs-inline-block, %Transition-ease;
			@include size( 100% );
			@include autoAlpha( 0 );

			object-fit: cover;

			transform: translate3d( ( $grid-gutter-width * -1 ), 0, 0 );
	
			&.is-active {
				@include from( 'md' ) {

					@include autoAlpha( 1 );
					transform: translate3d( 0, 0, 0 );
				}
			}
		}
	}


	&__button {}


	/**
	 * Close
	 *
	 * @uses .Search .close
	 */
	&__close {
		$size: 23;

		@include absolute( top 0 right 0 );
		@include margin( 
			top percentage( 63 / $psd-width-unitless )
			right percentage( 100 / $psd-width-unitless ) 
		);
		@include size( $size * 1px );

		z-index: 10;

		svg {
			max-width: $size * 1px;
			max-height: $size * 1px;

			fill: the_color( gray, very-dark );
		}
	}
}