/**
 * Sticky-post
 *
 * @uses .Sticky-post
 */
.Sticky-post {
	$header: (
		font: (
			size: 15,
			weight: map-get( map-get( $font, weights ), semibold )
		),
		line-height: 80,
		color: the_color( blue, light-grayish )
	);

	@mixin meta-style() {
		@extend %display-xs-inline-block, %font-title, %margin-xs-0, %font-semibold;
		@include letter-spacing( 20 );
		
		font: {
			size: ( map-get( map-get( $header, font ), size ) / $base-font-size ) * 1em;
			weight: map-get( map-get( $header, font ), weight );
		}
		line-height: map-get( $header, line-height ) / map-get( map-get( $header, font ), size );
		color: map-get( $header, color );
	}
	

	/**
	 * Header
	 */
	&-header {}


	/**
	 * Footer
	 *
	 * @uses .Sticky-post-footer
	 */
	&-footer {
		$size: (
			parent: (
				width: 500,
			),
			width: 318,
			height: 223,
			overlap: 106
		);

		@extend %position-xs-relative;
		@include margin( 
			left ( ( percentage( map-get( $size, overlap ) / map-get( map-get( $size, parent ), width ) ) ) * -1 ) 
		);
		
		width: percentage( map-get( $size, width ) / map-get( map-get( $size, parent ), width ) );
		// background: red;

		&::after {
			@extend %display-xs-block;
			@include padding( 
				top percentage( map-get( $size, height ) / map-get( $size, width ) ) 
			);
			
			content: '';
		}


		&__gallery {
			@extend %Position-absolute-center, %margin-xs-0, %padding-xs-0;
			@extend .list-unstyled;

			.slick-track,
			.slick-list {
				@extend %h-xs-100;
			}
			

			/**
			 * Item
			 *
			 * @uses .Sticky-post-footer__gallery__item
			 */
			&__item {
				@extend %margin-xs-0, %h-xs-100, %position-xs-relative, %overflow-hidden;
				
				img {
					transform: translate3d( ( $grid-gutter-width * -1 ), 0, 0 );
					transition: .6s ease;
					opacity: 0;
				}

				&::after {
					@extend %display-xs-block;
					@include absolute( top 0 right 0 bottom 0 left 0 );

					background: {
						color: the_color( orange, light-grayish-01 );
					}
					content: '';

					animation-duration: 1.15s;
					transform-origin: right center;
					transform: translateX( 0% ) scaleY( 1 ) scaleX( 0 );
				}

				&.slick-current {
					
					img {
						transition-delay: ( 1.15s / 2 );
						transform: translate3d( 0, 0, 0 );
						opacity: 1;
					}

					&::after {
						animation-name: filler;
						animation-iteration-count: 1;
						animation-timing-function: cubic-bezier( 0.81, 0.15, 0.26, 0.99 );
					    animation-fill-mode: forwards;
					}
				}
			}

			img {
				// @extend .img-full;
				@extend %Position-absolute-center;
				@include size( 100% );

				object-fit: cover;
				object-position: 50% 50%;
			}


			/**
			 * Button
			 *
			 * @Sticky-post-footer__gallery__button
			 */
			&__button {
				$size: (
					width: 45,
				);

				@include absolute( 
					top 0 
					left calc( 100% - #{ ( ( map-get( $size, width ) / 2 ) * 1px ) } ) 
					bottom 0 
				);

				width: ( map-get( $size, width ) * 1px );

				svg {
					@extend %display-xs-inline-block, %vertical-align-middle;
					max-width: ( map-get( $size, width ) * 1px );
					max-height: ( map-get( $size, width ) * 1px );

					fill: the_color( white );
					filter: drop-shadow( 0 0 $grid-gutter-width rgba( the_color( gray, very-dark ), .55 ) );
				}
			}
		}
	}


	/**
	 * Thumbnail
	 * 
	 * @uses .Sticky-post .thumbnail
	 */
	.thumbnail {
		@extend %display-xs-block;
	    @include margin( 
			right ( $grid-gutter-width-mobile * -1 ) 
			left ( $grid-gutter-width-mobile * -1 ) 
		);

		width: calc( 100% + 46px);
		box-shadow: 1px 3px ( $grid-gutter-width / 2 ) 0px rgba( the_color( gray, very-dark ), 0.15); 

		img {
			@extend %display-xs-inline-block, %vertical-align-middle;
		}
		
		@include from( 'md' ) {
			@include margin( left #{ $grid-gutter-width * -1 } );

			width: calc( 100% + #{ $grid-gutter-width } );
		}
	}

	
	/**
	 * Category
	 * 
	 * @uses .Sticky-post .category
	 */
	.category { @include meta-style; }


	/**
	 * Title
	 * 
	 * @uses .Sticky-post .title
	 */
	.title {
		$font-size: 35;
		
		@extend %margin-xs-0;
		@include font( $font-size, 38, 12 );

		font: {
			family: map-get( map-get( $font, families ), body );
		}
	}


	/**
	 * Date
	 *
	 * @uses .Sticky-post .date
	 */
	.date { @include meta-style; }


	/**
	 * Preview
	 *
	 * @uses .Sticky-post .preview
	 */
	.preview {
		font: {
			size: ( 20 / $base-font-size ) * 1em;
			family: map-get( map-get( $font, families ), title );
			weight: map-get( map-get( $font, weights ), bold );
		}
		line-height: ( 30 / 20 );
	}


	/**
	 * Excerpt
	 * 
	 * @uses .Sticky-post .excerpt
	 */
	.excerpt {
		@include letter-spacing( 15 );

		font: {
			size: ( map-get( map-get( $header, font ), size ) / $base-font-size ) * 1em;
		}
		color: the_color( gray, very-dark-01 );
		line-height: 25 / map-get( map-get( $header, font ), size );
	}


	/**
	 * Permalink
	 * 
	 * @uses .Sticky-post .permalink
	 */
	.permalink {
		font: {
			size: ( 14.97 / $base-font-size ) * 1em;
		}
		line-height: ( 79.82 / 14.97 );
	}
}