/**
 * Tease-posts
 *
 * @uses .Tease-posts
 */
.Tease-posts {
	// @extend %Pointer-events-none;

	// @include from( 'md' ) {
	
	// 	&:hover .Tease-post {
			
	// 		&:hover {
	
	// 			.Tease-post-header {
	// 				opacity: 1;
	// 				visibility: visible;
	// 			}
	
	// 			&::before {
	// 				background: {
	// 					color: rgba( the_color( black ), .3 );
	// 				}
	// 			}
	// 		}		
	
	// 		&:not(:hover) {
				
	// 			.Tease-post-header {
	// 				opacity: 0;
	// 				visibility: hidden;
	// 			}
	
	// 			&::before {
	
	// 				background: {
	// 					color: rgba( the_color( white ), .6 );
	// 				}
	// 			}
	// 		}
	// 	}
	// }

	&-row {
		
		@include from( 'md' ) {

			@include margin( bottom $grid-gutter-width );
		    
		    &::before,
		    &::after { 
		        display: table;
		        content: " ";
		    }

		    &::after {
		        clear: both;
		    }
		}
	}

	&-footer {
		@include padding( 
			top ( $grid-gutter-width * 2 ) 
			bottom ( $grid-gutter-width * 3 )
		);
	}

	&-container {
		&.is-loading {
			@extend %Transition-ease;

			opacity: .3;
		}
	}
}