{#

Blocks: slider videos

@author  Jérémy Levron <jeremylevron@19h47.fr>

#}


<div id="slider-videos" class="Slider-videos page-block" data-node-type="SliderVideos">

	<div class="items js-container">
		{% for post in posts %}
			<div class="item">
				{% include 'components/list-post.html.twig' with { video: true } %}
			</div>
		{% endfor %}
	</div>

	<footer class="Slider-videos__footer">
		<div class="l-container">
			<div class="row">
				<div class="col-12 col-md-2 offset-md-5 d-flex justify-content-between">
					<button type="button" class="previous js-previous" aria-label="{{ pll__( 'Précédent' ) }}"></button>
					<button type="button" class="next js-next" aria-label="{{ pll__( 'Suivant' ) }}"></button>
				</div>
			</div>
		</div>
	</footer>

</div>
