{#

/views/components/banner

@package jveb
@author  Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)

#}
{% if banner %}
	<div class="Banner" style="background-image: url( '{{ banner }}' );">
		<div class="d-table w-100 h-100 text-align-center">
			<div class="d-table-cell vertical-align-middle">
				{% include 'components/header-logo.html.twig' %}
			</div>
		</div>
	</div>
{% endif %}
