{#
    
    /**
     * /views/components/banner
     *
     * @package WordPress
     * @author  Jérémy Levron <levronjeremy@19h47.fr
     */
    
#}
{% if banner %}
<div class="Banner" style="background-image: url( '{{ banner }}' );">
	<div class="display-xs-table w-xs-100 h-xs-100 text-xs-center">
		<div class="display-xs-table-cell vertical-align-middle">
			{% include 'components/header-logo.twig' %}
		</div>
	</div>
</div>
{% endif %}