{#
	/**
	 * views/components/heading
	 * 
	 * Display a grid like Photoshop with same shortcut CMD+;
	 *
	 * @param string title
	 * @param string class
	 * 
	 * @author  Jérémy Levron Levronjeremy@19h47
	 */
#}

<h2 class="Heading Heading--marquee{{ class ? ' ' ~ class }}">
	{% spaceless %}
		
	<span>{{- '&nbsp;' ~ title ~ '&nbsp;' -}}</span>
	<span>{{- '&nbsp;' ~ title ~ '&nbsp;' -}}</span>

	{% endspaceless %}
</h2>