{#

components/header-logo

@author  Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)

#}

<a href="{{ site.url }}" title="{{ site.description }}" aria-label="{{ site.description }}">
	{% include 'svg/use.html.twig' with { icon: 'logo' } only %}
</a>
