{#

views/components/heading

@param string title
@param string class

@author  Jérémy Levron <jeremylevron@19h47> (https://19h47.fr)

#}

<h2 class="Heading Heading--marquee{{ class ? ' ' ~ class }}"><span>{{- title -}}</span></h2>
