{#
    
    /**
     * components/header-logo
     * 
     * @author  Jérémy Levron <levronjeremy@19h47.fr
     */
    
#}

<a href="{{ site.url }}" title="{{ site.description }}">
	<svg class="" role="img">
		<use xlink:href="{{ theme.link }}/dist/svg/icons.svg#logo"/>
	</svg>
</a>