{#

    /**
     * components/links
     *
     * @author  Jérémy Levron <jeremylevron@19h47.fr
     */

#}

<div class="Link-blogrolls">
	<header class="l-container">
		<div class="row">
			<div class="col-12 col-md-10 offset-md-1">
				<div class="Link-blogrolls-header">
					<h2 class="title">{{- pll__( 'Récompenses et jveb dans la presse' ) -}}</h2>
				</div>
			</div>
		</div>
	</header>

	<div class="l-container Link-blogrolls-category-recompense">
		<div class="row">

			{# Récompense #}
			{% for link in links if link.terms()[0].slug == 'recompense' %}
				<div class="col-12 col-md-4">
					{% include 'components/link.twig' %}
				</div>
			{% endfor %}

		</div>
	</div>


	<div class="l-container Link-blogrolls-category-presse">
		<div class="row">

			<div class="col-12 Link-blogrolls-category-presse__container d-md-flex flex-md-wrap justify-content-md-center">
				{# Presse #}
				{% spaceless %}

				{% for link in links if link.terms()[0].slug == 'presse' %}

					{% include 'components/link.twig' %}

				{% endfor %}

				{% endspaceless %}

			</div>
		</div>
	</div>
</div>
