{#

components/tease-posts

@author  Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)

#}

{% for post in posts %}
	{%
		include 'components/tease-post.html.twig'
		with {
			post: {
				link: post.link,
				thumbnail: Image( post.thumbnail ).src,
				categories: post.terms( 'category' ) | map( term => "<a href=\"#{term.link}\">#{term.name}</a>" ) | join( ', ' ),
				title: post.title,
				date: post.post_date | date( 'd.m.Y' )
			}
		}
	%}
{% endfor %}
