/**
 * Aside
 *
 * @uses .Aside
 */
.Aside {
	@include absolute( top 0 right 0 );

	width: percentage( 76 / 1029 );
	
	@at-root .Front-page &,
	.About & { 
		top: auto; bottom: 0; 
	}

	&-inner {
		@include margin( 
			top ( $grid-gutter-width * 4 ) 
			bottom ( $grid-gutter-width * 4 )
		);

		@at-root .Front-page &,
		.About & { 
			@include margin( top 0 bottom 0 ); 
		}

	}

	&-socials {
		@extend .list-unstyled;
		@extend %margin-0;

		&__item {
			@extend %vertical-align-middle;
			@include size( $grid-gutter-width );
			@include margin( 
				top ( $grid-gutter-width  / 2 )
				bottom ( $grid-gutter-width  / 2 )
			);

			a {
				@extend .d-block;

				&:hover {
					svg {
						fill: the_color( orange, very-soft-01 );
					}
				}
			}

			svg {
				@extend .d-inline-block, %vertical-align-middle, %Transition-ease;

				max-width: $grid-gutter-width;
				max-height: $grid-gutter-width;

				fill: the_color( blue, light-grayish );
			}

			@at-root .Front-page &:last-child { @include margin( bottom 0 ); }
		}
	}

	&-bull {
		@extend .d-block, %text-align-center;
		@include size( $grid-gutter-width );

		color: the_color( blue, light-grayish );
	}

	&-subscribe {
		@extend %font-semibold, %font-title;
		@include font( 13, $grid-gutter-width-unitless );
		transform: rotate( 90deg ) translate3d( 0, -50%, 0 );
		transform-origin: 0 50%;
		color: the_color( orange, very-soft-01 );
		white-space: nowrap;
	}


	&-email {
		@extend %font-semibold, %font-title, %Transition-ease, .d-inline-block, %overflow-hidden;;
		@include font( 13, $grid-gutter-width-unitless );

		color: the_color( blue, light-grayish );
		width: 30px;

		&:hover {
			color: the_color( orange, very-soft-01 );
		}

		a {
			@extend .d-inline-block;
			transform: translate( calc( -50% + #{ $grid-gutter-width } ), -50% ) rotate( 90deg );
     		transform-origin: 0 50%;

			white-space: nowrap;

			&:after {
			     content: "";
			     float: left;
			     margin-top: 100%;
			 }
		} 
	}	
}