/**
 * Comment
 *
 * @uses 	.Comment
 * @author 	Jérémy Levron
 */
.Comment {
	@extend .d-flex, .flex-column, .flex-md-row;

	@extend .background-white;
	@include padding(
		top #{ $base-line-height }px
		right $grid-gutter-width
		bottom #{ $base-line-height }px
		left $grid-gutter-width
	);

	box-shadow: -1px 3px 15px 0px rgba( the_color( orange, very-soft-01 ), .25 );

	@include media-breakpoint-up( md ) {
		@include margin(
			right calc( #{ percentage( 1 / 12 ) } + #{ $grid-gutter-width / 2 } )
			left calc( #{ percentage( 1 / 12 ) } + #{ $grid-gutter-width / 2 } )
		);
	}


	// .Comment-list
	&-list {
		@extend %list-unstyled;

		& > li {
			@include margin( top #{ $base-line-height / 2 }px right $grid-gutter-width / -2  bottom #{ $base-line-height / 2 }px left $grid-gutter-width / -2 );
		}
	}


	/**
	 * Comment inner
	 *
	 * @uses .Comment-inner
	 */
	&-inner {
		@extend .d-inline-block, %vertical-align-top;

		flex: 1;

		@include media-breakpoint-up( md ) {
			@include padding( right $grid-gutter-width left $grid-gutter-width );

			flex: auto;
		}
	}


	/**
	 * Comment aside
	 *
	 * @uses .Comment-aside
	 */
	&-aside {
		@extend .d-inline-block, %vertical-align-top;
		@extend %margin-bottom-3, %margin-bottom-md-0;

		flex: 1;

		@include media-breakpoint-up( md ) {
			flex: auto;
		}
	}


	/**
	 * Author
	 *
	 * @uses .Comment .author
	 */
	.author {
		@extend %font-weight-semibold, %margin-0;

		font-size: 18px;
		color: the_color( orange, very-soft-01 );

		@include media-breakpoint-up( md ) {
			font-size: 16px;
		}
	}


	/**
	 * Date
	 *
	 * @uses .Comment .date
	 */
	.date {
		@include margin( top 0 );
		@extend %font-family-title, %font-weight-regular;
		// @include font( 12, 80 );

		font-size: 15px;
		color: the_color( blue, light-grayish );

		@include media-breakpoint-up( md ) {
			font-size: 12px;
		}
	}


	/**
	 * Content
	 *
	 * @uses .Comment .content
	 */
	.content {
		@extend %font-family-title, %margin-top-2, %margin-top-md-3;
		@include letter-spacing( 15 );

		font-size: 16px;
		line-height: #{ $base-line-height }px;

		@include media-breakpoint-up( md ) {
			font-size: 13px;
		}
	}


	/**
	 * Avatar
	 *
	 * @uses .Comment .avatar
	 */
	.avatar {
		@extend .d-inline-block, %vertical-align-middle;
		@include size( #{ $base-line-height * 2 }px );

		box-shadow: -1px 3px 15px 0px rgba( the_color( red, bright ), .15 );
	}


	// .Comment .reply
	.reply {
		@include margin( bottom 0 );

		height: #{ $base-line-height }px;

		a {
			@extend .Link-readmore, .Link-marker, .Link-marker--orange-soft, .d-inline-block;
			@extend %font-family-title, %font-weight-semibold;

			font-size: 18px;
			line-height: #{ $base-line-height }px;
			color: the_color( orange, very-soft-01 );

			@include media-breakpoint-up( md ) {
				font-size: 13px;
			}

			&:hover {
				&::before {
					opacity: .3!important;
				}
			}
		}
	}
}
