/**
 * Comments
 *
 * @uses .Comments
 */
.Comments {
	@include padding( top #{ $base-line-height }px bottom #{ $base-line-height * 2 }px );

	background: { color: the_color( orange, very-soft-07 ); }

	/**
	 * Header
	 *
	 * @uses .Comments-header
	 */
	&-header { @extend %text-align-center; }


	.title {
		@extend %font-weight-bold, %margin-0;
		@include letter-spacing( 15 );

		font-size: 45px;
		line-height: #{ $base-line-height * 3 }px;
		color: the_color( white );
	}


	.catchphrase {
		@extend %font-weight-semibold, %font-family-title;

		color: the_color( white );
		font-size: 15px;
	}


	.expand {
		@extend .d-block, %position-relative;
		@include size( #{ $base-line-height }px );
		@include margin( top #{ $base-line-height * -1 }px right auto bottom #{ $base-line-height * -0.5 }px left auto );

		background-size: 100%;
		z-index: 1;

		&.minus {
			background-image: url( '#{ map-get( $directories, svg ) }minus.svg' );
		}

		&.plus {
			background: {
				image: url('#{ map-get( $directories, svg ) }plus.svg' );
			}
		}
	}
}
