/**
 * Heading
 */
.Heading {
	$font-size: 160;
	
	@extend %margin-0;
	
	font: {
		size: ( 60 / $base-font-size ) * 1em;
		family: map-get( map-get( $font, families ), title );
		weight: map-get( map-get( $font, weights ), semibold );
	}

	@include media-breakpoint-up( md ) { 
		font: { 
			size: ( $font-size / $base-font-size ) * 1em; 
		} 
	}

	// line-height: ( 69.99 / $font-size );
	color: rgba( the_color( orange, light-grayish-01 ), .5 );

	&--marquee {
		$duration: 30s;
		@extend %overflow-hidden;

		white-space: nowrap;

		span {
			@extend .d-inline-block;

			will-change: transform;
			min-width: 100vw;
			text-align: center;

			animation: {
				duration: $duration; 
				timing-function: linear;
				iteration-count: infinite;
			}
		}

		span:nth-child( 1 ) {
			animation: { 
				name: marquee-first-child; 
			}
		}

		span:nth-child( 2 ) {
			animation: { 
				delay: ( $duration / 2 );
				name: marquee-second-child; 
			}
		}
	}
}