/**
 * Heading
 */
.Heading {
	@extend %margin-0, %Pointer-events-none;

	color: rgba( the_color( orange, light-grayish-01 ), .5 );
	font: {
		size: 60px;
		family: map-get( map-get( $font, families ), title );
		weight: map-get( map-get( $font, weights ), semibold );
	}
	line-height: #{ $base-line-height * 8 }px;

	@include media-breakpoint-up( md ) {
		font-size: 160px;
	}

	&--marquee {
		@extend %overflow-hidden;

		white-space: nowrap;

		span {
			@extend .d-inline-block;
			@include margin( left 100vw );

			width: 100vw;

			will-change: transform;
			text-align: center;

			animation: {
				duration: 30s;
				timing-function: linear;
				iteration-count: infinite;
				direction: alternate;
				name: marquee;
			}
		}
	}
}
