/**
 * Instagram post
 *
 * @uses .Instagram-post
 */
.Instagram-post {
	$opacity: .15;
	@extend %float-left, %position-relative, %margin-0;
	@include padding(
		left $grid-gutter-width
		right $grid-gutter-width
	);

	@include media-breakpoint-up( md ) {
		@include padding(
			left $grid-gutter-width / 2
			right $grid-gutter-width / 2
		);
	}

	width: percentage( ( $container-width-unitless / 6 ) / $container-width-unitless );

	&::after {
		@extend .d-block;
		@include padding( top 100% );

		content: '';
	}

	a {
		@extend %Position-absolute-center;
		@extend .d-block;

		@include margin(
			left $grid-gutter-width
			right $grid-gutter-width
		);

		@include media-breakpoint-up( md ) {
			@include margin(
				left $grid-gutter-width / 2
				right $grid-gutter-width / 2
			);
		}

		&::after {
			@extend %Position-absolute-center, .d-block, %Transition-ease;

			background: {
				color: rgba( the_color( gray, very-dark ), $opacity * 3 );
			}
			content: '';

			opacity: 0;
			visibility: hidden;
		}

		&:hover {
			.count,
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}
	}


	/**
	 * Count
	 *
	 * @uses .Instagram .count
	 */
	.count {
		@extend %font-bold, %font-title, %Transition-ease;
		@include absolute( top 50% right 0 left 0 );
		@extend %text-align-center;

		transform: translate3d( 0, -50%, 0 );
		z-index: 1;

		opacity: 0;
		visibility: hidden;

		&::before {
			@extend .d-inline-block;
			@include size( $grid-gutter-width / 2 );
			@include margin( right $grid-gutter-width / 3 );

			background: {
				image: url( '#{ map-get( $directories, svg ) }heart.svg' );
				position: center;
				size: 100%;
			}
			content: '';

			animation: {
				name: heartbeat;
				duration: 2s;
				iteration-count: infinite;
			}
		}
	}


	/**
	 * Thumbnail
	 *
	 * @uses .Instagram-post .thumbnail
	 */
	.thumbnail {
		@extend .d-inline-block, %vertical-align-middle;
		@include size( 100% );

		object-fit: cover;

		box-shadow:
			0px
			#{ $base-line-height / 10 }px
			#{ $base-line-height / 2 }px
			0px
			rgba( the_color( red, bright ), $opacity )
		;
	}
}
