/**
 * Instagram
 *
 * @uses .Instagram-posts
 */
.Instagram-posts {
	@include padding( top #{ $base-line-height }px bottom #{ $base-line-height * 2 }px );

	background: linear-gradient(
		33deg,
		the_color( orange, light-grayish-01 ) 0%,
		the_color( orange, light-grayish-02 ) 100%
	);

	color: the_color( white );


	/**
	 * Header
	 *
	 * @uses .Instagram-posts-header
	 */
	&-header { @extend %text-align-center; }


	// .Instagram-posts-container
	&-container {
		@extend %list-unstyled;
		@include margin( top 0 bottom 0 );

		@include padding(
			top #{ $base-line-height * 2 }px
			left 0
			bottom #{ $base-line-height * 2 }px
		);
	}


	// .Instagram-posts-footer
	&-footer {
		@extend %text-align-center;

		height: #{ $base-line-height }px;
	}


	// .Instagram-posts-header .title
	.title {
		@extend %font-bold, %margin-0;
		@include letter-spacing( 15 );

		color: the_color( white );
		font-size: 45px;
		line-height: #{ $base-line-height * 3 }px;
	}


	/**
	 * Catchphrase
	 *
	 * @uses .Instagram-posts-header .catchphrase
	 */
	.catchphrase {
		@extend %font-semibold, %font-title;
		@include margin( top #{ $base-line-height * -1 }px bottom #{ $base-line-height * 0.5 }px );

		color: the_color( orange, very-soft-01 );
		font-size: 15px;
	}
}
