/**
 * Instagram post
 *
 * @uses .Instagram-post
 */
.Instagram-post {
	$opacity: .15;

	@extend %margin-0;

	height: #{ $base-line-height * 5.5 }px;

	a {
		@extend %position-relative;
		@extend .d-block;
		@include size( 100% );

		&:hover {
			.count {
				opacity: 1;
				visibility: visible;
			}
		}
	}


	/**
	 * Count
	 *
	 * @uses .Instagram .count
	 */
	.count {
		@include absolute( top 0 right 0 bottom 0 left 0 );
		@extend %font-weight-bold, %font-family-title, %Transition-ease;
		@extend .d-flex, .align-items-center, .justify-content-center;
		@include size( 100% );

		background-color: rgba( the_color( gray, very-dark ), $opacity * 3 );
		z-index: 1;

		opacity: 0;
		visibility: hidden;

		&::before {
			@extend .d-inline-block;
			@include size( $grid-gutter-width / 2 );
			@include margin( right $grid-gutter-width / 3 );

			background: {
				image: url( '#{ map-get( $directories, svg ) }heart.svg' );
				position: center;
				size: 100%;
			}
			content: '';

			animation: {
				name: heartbeat;
				duration: 2s;
				iteration-count: infinite;
			}
		}
	}


	/**
	 * Thumbnail
	 *
	 * @uses .Instagram-post .thumbnail
	 */
	.thumbnail {
		@extend .d-inline-block, %vertical-align-middle;
		@include size( 100% );

		object-fit: cover;
		object-position: center;

		box-shadow:
			0px
			#{ $base-line-height / 10 }px
			#{ $base-line-height / 2 }px
			0px
			rgba( the_color( red, bright ), $opacity )
		;
	}
}
