/**
 * Link
 *
 * @uses .Link
 */
.Link {
	$this: &;


	&-blogrolls {

		&-header {

			@include media-breakpoint-up( md ) {

				@include margin(
					right percentage( 76 / $container-width-without-outer-gutter-unitless )
					left percentage( 76 / $container-width-without-outer-gutter-unitless )
				);
			}
		}

		&-category-recompense {}
		&-category-presse {
			@include margin( bottom 70px );

			&__container {
			    white-space: nowrap;
	    		overflow-x: scroll;

	    		@include media-breakpoint-up( md ) {
	    			overflow-x: visible;
	    			white-space: normal;
	    		}
			}
		}


		.title {
			@extend .color-gray-very-dark;
			@extend %font-bold;
			@include margin( top 45px bottom 45px );
			@include font( 20, 33 );
		}
	}


	&-blogroll {

		.description {
			@extend .color-blue-light-grayish;
			@extend %font-title, %font-semibold;
			@include margin( top $grid-gutter-width );
			@include font( 12.02, 29.05, 15 );
		}

		&-category-recompense {
			@extend %text-align-center;
			@include margin( top 45px bottom 45px );

			.thumbnail {
				@extend .d-inline-block, %vertical-align-middle;
				@include size( 218px, 120px );

				max-width: 100%;

				object-fit: none;
				object-position: 50% 50%;
			}
		}

		&-category-presse {
			@extend .d-inline-block;
			@include margin(
				top $grid-gutter-width
				right $grid-gutter-width
				bottom $grid-gutter-width
				left $grid-gutter-width
			);

			@include media-breakpoint-up( md ) {
				@include margin(
					right percentage( $grid-gutter-width-unitless / $container-width-without-outer-gutter-unitless )
					left percentage( $grid-gutter-width-unitless / $container-width-without-outer-gutter-unitless )
				);
			}

			.thumbnail {
				@extend .d-inline-block, %vertical-align-middle;
				@include size( auto, 60px );
				filter: grayscale(100%);
				opacity: .2;
				max-width: 180px;

				object-fit: contain;
				object-position: 50% 50%;
			}

			.description {
				@extend .d-none;
			}
		}
	}

	/**
	 * Readmore
	 *
	 * @uses .Link-readmore
	 */
	&-readmore {
		@extend %Pointer-events-auto;

		color: currentColor;
		font: {
			family: map-get( map-get( $font, families ), title );
			weight: map-get( map-get( $font, weights ), bold );
		}
	}


	/**
	 * Marker
	 *
	 * @uses .Link-marker
	 */
	&-marker {
		@extend %position-relative, %Transition-ease;
		@include padding( right 10px left 10px );

		&::before {
			@extend
				.d-inline-block,
				%Transition-ease,
				%Pointer-events-none;

			@include absolute( top 50% right 0 left 0 );

			background: {
				position: center;
				size: 100% 100%;
			}
			content: '';
			height: 100%;

			opacity: 0;
			transform: translate3d( 0, ( $grid-gutter-width / 4 ), 0 );

			z-index: 10;
		}

		span {
			@extend %position-relative;

			z-index: 20;
		}


		&:hover {

			&::before {
				transform: translate3d( 0, 0, 0 );
				opacity: 1;
			}
		}

		&#{ $this }-marker--orange::before {
			background: {
				image: url( '#{ map-get( $directories, svg ) }marker-stroke-orange.svg' );
			}
		}

		&#{ $this }-marker--orange-soft::before {
			background: {
				image: url( '#{ map-get( $directories, svg ) }marker-stroke-orange-soft.svg' );
			}
		}

		&#{ $this }-marker--blue::before {
			background: {
				image: url( '#{ map-get( $directories, svg ) }marker-stroke-blue.svg' );
			}
		}

		&#{ $this }-marker--white::before {
			background: {
				image: url( '#{ map-get( $directories, svg ) }marker-stroke-white.svg' );
			}
		}
	}
}
