/**
 * List post
 *
 * @uses .List-post
 */
.List-post {
	@include margin( bottom #{ $base-line-height }px );

	@include media-breakpoint-up( md ) {
		@include margin( bottom #{ $base-line-height * 2.5 }px );
	}

	animation: {
		name: fade-in-down;
		duration: .3s;
		timing-function: ease-in;
	}
	opacity: 1;
	transform: translateY( 0 );

	// .List-post-meta
	&-meta {
		@extend %font-weight-semibold, %font-family-title, %text-align-center;
		@include margin(
			top #{ $base-line-height * 0.5 }px
			right #{ $base-line-height }px
			left #{ $base-line-height }px
		);
		@include letter-spacing( 20 );

		color: the_color( blue, light-grayish );
		font-size: 13px;

		// In search result context
		@at-root .Search .suggest & {
			color: the_color( white );
		}
	}


	// .List-post .title
	.title {
		@extend %font-weight-bold, %margin-0, %text-align-center;

		color: the_color( gray, very-dark );
		font-size: 15px;
		line-height: #{ $base-line-height }px;

		// In search result context
		@at-root .Search .suggest & {
			color: the_color( white );
		}

		@include media-breakpoint-up( md ) {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}


	/**
	 * Date
	 *
	 * @uses .List-post .date
	 */
	.date { @extend .d-inline-block, %margin-0; }


	/**
	 * Categories
	 *
	 * @uses .List-post .categories
	 */
	.categories { @extend %text-transform-lowercase; }


	/**
	 * Link
	 *
	 * @uses .List-post .link
	 */
	.link {
		@extend .d-block;

		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	& >  .link {
		@include size( 100%, #{ $base-line-height * 9.5 }px );

		background-color: the_color( blue, light-grayish );
	}

	iframe {
		@include size( 100%, #{ $base-line-height * 10.5 }px );
		@extend %vertical-align-middle;

		@at-root .List-posts-container & {
			@include size( 100%, #{ $base-line-height * 9.5 }px );

			max-width: 100%;
		}
	}

	.fb-video {
		height: #{ $base-line-height * 10.5 }px;

		iframe {
			// height: 100%!important;
		}

		@at-root .List-posts-container & {
			@include size( 100%, #{ $base-line-height * 9.5 }px );
		}
	}

	/**
	 * Thumbnail
	 *
	 * @uses .List-post .thumbnail
	 */
	.thumbnail {
		@extend .d-inline-block, %vertical-align-middle;
		@include size( 100% );

		object-fit: cover;
		object-position: center;
	}


	/**
	 * Category videos
	 *
	 * @uses .List-post-category-videos
	 */
	&-category-videos {

		@at-root .Front-page & {

			.List-post-meta {
				@extend %Transition-ease;
				opacity: 0;
				transform: translate3d( 0, $grid-gutter-width * .5, 0 );
			}
		}

		// @at-root .Front-page .item .List-post-category-videos { @extend %Pointer-events-none; }
		// @at-root .Front-page .item.slick-current .List-post-category-videos { @extend %Pointer-events-auto; }

		@at-root .Front-page .slick-current & .List-post-meta {

			opacity: 1;
			transform: translate3d( 0, 0, 0 );
		}


		@at-root .Front-page .List-post-category-videos .thumbnail {
			box-shadow: 1px 3px 9px 0px rgba( the_color( gray, very-dark ), .09 );
		}
	}


	/**
	 * Relationship
	 *
	 * @uses .List-post-relationship
	 */
	&-relationship {

		.List-post-meta {
			@extend %Transition-ease;
			opacity: 0;
			transform: translate3d( 0, $grid-gutter-width * .5, 0 );
		}

		@at-root .slick-active & .List-post-meta {
			opacity: 1;
			transform: translate3d( 0, 0, 0 );
		}
	}
}
