/**
 * Menu
 *
 * @uses .Menu
 * @author Jérémy Levron <jeremylevron@19h47.fr>
 */
.Menu {
	$this: &;
	$margin: 68;
	$padding: 10;

	@extend %list-unstyled;
	@extend .clearfix;

	color: currentColor;
	height: #{ $base-line-height }px;

	@at-root .Footer & {
		@include margin( top #{ $base-line-height }px bottom #{ $base-line-height }px );

		@include media-breakpoint-between( xs, md ) {
			@include margin( bottom #{ $base-line-height }px ); }
	}


	&-button {
		@include absolute( top 0 right 0 );
		@include margin( top $grid-gutter-width right $grid-gutter-width );
		@include size( 36px );

		background: {
			image: url( '#{ map-get( $directories, svg ) }hamburger.svg' );
			position: center;
			size: 100%;
		}

		z-index: 39;

		@at-root .#{ map-get( $state-classes, 'menu-open' ) } & {
			background: {
				image: url( '#{ map-get( $directories, svg ) }close.svg' );
			}
		}
	}

	// .Menu-item-search
	&-search-button {
		@extend .hidden-md, .hidden-lg, .hidden-hd;
		@include absolute( top 0 left 0 );
		// Magic number is a shame!
		@include margin( left #{ $base-line-height }px );
		@include size( #{ $base-line-height }px );

		.Icon {
			@extend .d-inline-block;
			@include size( 100% );

			@include media-breakpoint-up( md ) {
				vertical-align: middle;
			}
		}
	}


	/**
	 * Front page header
	 * Category page header
	 *
	 * @uses .Front-page-header .Menu
	 * @uses .Category-header .Menu
	 */
	@at-root
		.Category-header &,
		.Front-page-header &,
		.About-header & {

		@extend %Position-fixed-center, %Transition-ease;
		@extend %margin-y-0;
		@include size( 100% );

		transform: translate3d( -100%, 0, 0 );
		background: { color: the_color( white ); }
		z-index: 30;

		@at-root .#{ map-get( $state-classes, 'menu-open' ) } & {
			transform: translate3d( 0, 0, 0 );
		}

		@include media-breakpoint-up( md ) {
			@include margin( left ( ( $margin / 2 ) * -1px ) );
			@include size( auto );

			position: static;
			top: auto;
			right: auto;
			bottom: auto;
			left: auto;
			background: { color: transparent; }
			transform: translate3d( 0, 0, 0 );
			z-index: auto;
		}
	}



	/**
	 * Single header
	 *
	 * @uses .Single-header .Menu
	 */
	@at-root .Single-header & {}


	/**
	 * Item
	 *
	 * @uses .Menu .item
	 */
	.item {

		@extend
			.d-block,
			.d-md-inline-block,
			%position-relative;

		/**
		 * Link
		 *
		 * @uses .Menu .item a
		 */
		a {}


		/**
		 * Current item
		 *
		 * @uses .Menu .item.--is-current
		 */
		&.is-current {}


		/**
		 * Stroke marker
		 *
		 * @uses .Menu .item.has-stroke-marker
		 */
		&.has-stroke-marker {
			a {
				@extend %position-relative, %Transition-ease;

				&::before {
					@extend
						%Position-absolute-center,
						.d-inline-block,
						%Transition-ease,
						%Pointer-events-none;

					background: {
						image: url( '#{ map-get( $directories, svg ) }marker-stroke.svg' );
						position: center;
						size: 100% 100%;
					}
					content: '';

					opacity: 0;
					transform: translate3d( ( ( $grid-gutter-width / 4 ) * -1 ), 0, 0 );

					z-index: 10;
				}

				span {
					@extend %position-relative;

					z-index: 20;
				}

				&.is-current,
				&:hover {

					color: the_color( white );

					&::before {
						transform: translate3d( 0, 0, 0 );
						opacity: 1;
					}
				}
			}
		}


		/**
		 * Category item
		 *
		 * From WordPress
		 *
		 * @uses .Menu .item.menu-item-object-category
		 */
		&.menu-item-object-category {
			$font-size: 40;

			@extend
				%font-title,
				%font-semibold,
				%text-align-center,
				%text-align-md-left;

			@include margin(
				top ( ( $margin / 2 ) * 1px )
				right ( ( ( $margin / 2 ) - $padding ) * 1px )
				bottom ( ( $margin / 2 ) * 1px )
				left ( ( ( $margin / 2 ) - $padding ) * 1px )
			);

			font-size: ( $font-size / $base-font-size ) * 1em;
			line-height: #{ $base-line-height }px;

			@include media-breakpoint-between( 'md', 'lg' ) {
				font: {
					size: ( ( $font-size / 1.5 ) / $base-font-size ) * 1em;
				}
				@include margin(
					top 0
					right ( ( ( $margin / 4 ) - $padding ) * 1px )
					bottom 0
					left ( ( ( $margin / 4 ) - $padding ) * 1px )
				);
			}

			@include media-breakpoint-up( 'lg' ) {
				@include margin(
					top 0
					right ( ( ( $margin / 2 ) - $padding ) * 1px )
					bottom 0
					left ( ( ( $margin / 2 ) - $padding ) * 1px )
				);
			}

			a {
				@extend %lowercase;
				@include padding(
					top 0
					right ( $padding * 1px )
					bottom 0
					left ( $padding * 1px )
				);
			}
		}


		/**
		 * Lang
		 */
		&.menu-item-lang {
			@extend .d-flex, .align-items-center;

			@extend
				%font-title,
				%font-semibold,
				%float-md-right,
				%text-transform-uppercase,
				%margin-0;

			color: the_color( blue, light-grayish );
			font-size: 13;
			line-height: #{ $base-line-height }px;


			@at-root .Single-header & {
				@include media-breakpoint-up( md ) {
					color: the_color( white );
				}
			}

			.lang-item {
				@extend %margin-0;
			}

			a {
				@extend %Transition-ease;
				color: the_color( orange, very-soft-01 );
			}

			a:hover {
				color: shade( the_color( blue, light-grayish ), .7 );
			}
		}


		/**
		 * Search
		 */
		&.menu-item-search {
			@extend %margin-0, %float-right;

			line-height: #{ $base-line-height }px;

			.menu-item-search__button {
				@extend %vertical-align-middle, .d-inline-block;
				@include margin( right #{ $base-line-height * 2 }px );
				@include size( #{ $base-line-height * 0.75 }px );

				.Icon {
					@include size( 100% );

					fill: currentColor;
				}
			}
		}


		/**
		 * Button
		 */
		&.menu-item-button {
			$size: (
				width: 36,
				height: 36
			);

			@extend %margin-0, %float-right;

			line-height: ( 42 / 15 );

			button {

				@include margin( left 50px );

				.Icon {
					@extend .d-inline-block;

					max-width: ( map-get( $size, width ) * 1px );
					max-height: ( map-get( $size, height ) * 1px );
					fill: currentColor;

					@include media-breakpoint-up( md ) {
						max-width: 23px;
						max-height: 16px;

						vertical-align: middle;
					}
				}
			}
		}
	}


	/**
	 * Footer
	 *
	 * @uses .Footer .Menu .menu-item
	 */
	@at-root .Footer & .menu-item {

		@extend %font-title, %font-semibold;
		@include margin( top #{ $base-line-height }px right $grid-gutter-width bottom #{ $base-line-height }px left $grid-gutter-width );
		font-size: 19px;
		line-height: #{ $base-line-height }px;

		color: the_color( gray, very-dark );

		&:first-child { @include margin( top 0 ); }
		&:last-child { @include margin( bottom 0 ); }

		@include media-breakpoint-up( md ) {
			@include margin( top 0 bottom 0 );
			font-size: 13px;
			line-height: #{ $base-line-height }px;
		}

		a {
			@extend %Transition-ease;
			@include padding( top #{ $base-line-height / 2 }px right $grid-gutter-width / 2 bottom #{ $base-line-height / 2 }px left $grid-gutter-width / 2 );

			&:hover { color: the_color( orange, very-soft-01 ); }
		}
	}
}
