/**
 * Media print
 */
@media print { 
	// * { outline: 1px red solid; }
	
	// Shame 😔
	.js-sticky { display: none; }

	.print-w-100 { width: 100%; }
	
	.Single,
	.Category-food {

		.l-wrapper { 
			margin-bottom: 0; 
			box-shadow: none;
		}

		.l-container {
			@include padding(
				right ( $grid-gutter-width / 2 )
				left ( $grid-gutter-width / 2 )
			);
		}
		
		.Search,

		.Single-header,
		.Single-introduction,
		.Single-aside,
		.Single-article .aside,
		.Single-article .title,
		.Single-article .date,
		.Single-article .preview,
		.Single-article .content,

		.Recipe-header,
		.Recipe-description,
		.Recipe-steps,
		.Recipe-gallery,
		.Recipe-child .items,

		.Slider-recipe,

		.Heading,
		.Relationship-posts,
		.Comments,
		.Footer,
		.Contact { display: none; }

		.Single-article { 
			@include padding( right 0 left 0 );
			top: auto; 
		}


		.Recipe-print {
			display: block;

			h1 {
				@include letter-spacing( 20 );
				@include margin( top 0 bottom 0 );
				@include padding( top 0 bottom 0 );

				font-family: 'Lora', serif;
				font-size: 26.37pt;
				font-weight: 400;
				color: the-color( orange, very-dark );
				line-height: normal;
			}

			p {
				font-family: 'Poppins', sans-serif;
			}

			.date {
				@include margin( top 11.8pt bottom 21.4pt );
				@include letter-spacing( 25 );
				display: block;
				font-size: 8.57pt;
				font-family: 'Poppins', sans-serif;
				font-weight: 600;
				color: the_color( blue, light-grayish-02 );
			}

			.summary-title {
				@include margin( top 30pt bottom 10pt );
				font-size: 9.31pt;
				line-height: 16.8pt;
				font-weight: 600;

				p { @include margin( top 0 bottom 0 ); }
			}

			.summary {
				@include margin( top 22.3pt );
				@include padding( top 10.3pt bottom 10.3pt );
				display: inline-block;
				border: {
					top: {
						color: currentColor;
						style: solid;
						width: 1px;
					}

					bottom: {
						color: currentColor;
						style: solid;
						width: 1px;
					}
				}
			}


			.person-number,
			.preparation-time,
			.cooking-time {
				@include margin( right ( 26.9 / 2 ) * 1pt left ( 26.9 / 2 ) * 1pt );
				font-size: 8.57pt; 
				line-height: 11.84 pt;
				font-family: 'Poppins', sans-serif;
				
				&::before {
					@include size( 13.9pt, 14.6pt );
					@include margin( right 18.75pt );
					display: inline-block;
					vertical-align: middle;
					background: {
						position: center;
						size: 100%;
					}
					content: '';
				}
			}

			.person-number {
				@include margin( left 10.3pt );
				&::before {
					background: {
						image: url('#{ map-get( $directories, svg )}person-number-orange.svg' );
					}
				}
			}
			.preparation-time {
				&::before {
					background: {
						image: url('#{ map-get( $directories, svg )}preparation-time-orange.svg' );
					}
				}
			}
			.cooking-time {				
				&::before {
					background: {
						image: url('#{ map-get( $directories, svg )}cooking-time-orange.svg' );
					}
				}
			}

			.ingredients {
				@include margin( top 0 right 0 bottom 0 left 0 );
				column-count: 3;

				li {
					@include margin( top 15pt bottom 15pt );
				}

				ul {
					@include padding( left 15pt );
				}

				ul > :first-child {
					@include margin( top  -15pt );
				}


				.ingredient {
					font-size: 9pt; 
					line-height: 16.8pt;
					font-family: 'Poppins', sans-serif;
					font-weight: 500;
		
				}
			}

			.steps {
				@include margin( top 30pt );
				font-size: 9pt;
				line-height: 14.96pt;

				strong {
					font-size: 11.64pt;
					line-height: 22.12pt;
					color: the_color( orange, very-dark );
				}

				p {
					color: the_color( orange, very-dark-grayish );
				}
			}

			footer {
				@include margin( top 120pt );
				border: {
					top: {
						color: the_color( blue, light-grayish-03 );
						style: solid;
						width: 1px;
					}
				}
				position: relative;
				.logo {
					@include margin( top 10.8pt bottom 18.7pt );
					@include size( 37.4pt, 28.8pt );
					display: inline-block;
					vertical-align: middle;
				}

				.copyright {
					@include absolute( top 50% right 0 );
					@include margin( top 0 bottom 0 );
					color: the_color( orange, very-dark-grayish-01 );
					display: inline-block;
					vertical-align: middle;
					font-size: 8pt;
					font-weight: 600;
					transform: translate3d( 0, -50%, 0 );
				}
			}
		}
	}
}