/**
 * Recipe
 *
 * @uses .Recipe
 */
.Recipe {

	.slick-slide > div {
		height: 100%;
	}

	/**
	 * Header
	 *
	 * @uses .Recipe-header
	 */
	&-header {
		@extend %position-relative;

		h2 {
			@extend .color-gray-very-dark;
			@extend %font-weight-semibold, %font-family-title;
			@include margin(
				top #{ $base-line-height * 2 }px
				bottom ( 0 )
			);

			font-size: 40px;
			line-height: #{ $base-line-height }px;

			@include media-breakpoint-up( md ) {
				@include margin( bottom #{ $base-line-height * 2 }px );
			}
		}

		.print {
			@include margin( top #{ $base-line-height }px bottom #{ $base-line-height * 2 }px );

			@include media-breakpoint-up( md ) {
				@include absolute( top 0 right 0 bottom 0 );
				@include margin( top 0 bottom 0 );
			}
		}

		@at-root .Category-food & {
			@extend .d-none;

			&--category-food {
				@extend .d-block;
			}
		}
	}


	/**
	 * Container
	 *
	 * @uses .Recipe-container
	 */
	&-container {
		@extend %Transition-ease;

		opacity: 1;

		&.is-loading {
			opacity: .3;
		}
	}


	// .Recipe-description
	&-description { box-shadow: 0px 1px 15px 0px rgba( the_color( gray, very-dark ), .07 ); }


	// .Recipe-summary
	&-summary {
		@extend %font-family-title, %font-weight-semibold, %padding-0, %margin-0;
		@extend .background-orange-very-soft-04, .color-white, .d-flex, .align-items-center, .justify-content-center;

		list-style-type: none;
		font-size: 16px;
		line-height: #{ $base-line-height }px;
		height: #{ $base-line-height * 2 }px;

		.person-number,
		.preparation-time,
		.cooking-time {
			@extend %text-align-center, %margin-0;

			flex: 1;

			border-right: {
				color: rgba( the_color( white ), .45  );
				style: solid;
				width: 1px;
			}

			&::before {
				@include size( 25px );
				@include margin( right 10px );
				@extend .d-inline-block, %vertical-align-middle;

				background-size: 100%;
				content: '';
			}

			&:last-child {
				border-right: none;
			}
		}

		@each $element in person-number, preparation-time, cooking-time {
			.#{ $element } {
				&::before {
					background-image: url('#{ map-get( $directories, svg )}#{ $element }.svg' );
				}
			}
		}
	}


	// .Recipe-ingredients
	// &-ingredients {}


	// .Recipe-steps
	&-steps {
		color: the_color( gray, very-dark-01 );

		h3 {
			@extend .color-gray-very-dark;
			@extend %font-family-title, %font-weight-bold;
			@include font( 20, 38 );
			@include margin( top 2em );
		}

		b, strong { @extend .color-orange-very-soft-01; }

		img {
			@extend .d-inline-block;
			@extend %vertical-align-middle;

			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}


	// .Recipe-collection
	&-collection {
		@extend .d-inline-block, %w-100;
		@include padding(
			top #{ $base-line-height }px
			right $grid-gutter-width
			bottom #{ $base-line-height }px
			left $grid-gutter-width
		);

		.description {
			@extend %font-weight-semibold, %font-family-title;

			font-size: 16px;
			line-height: #{ $base-line-height }px;

			&:first-child {
				p {
					@extend %margin-top-0;
				}
			}
		}

		.ingredients {
			font-size: 14px;
			line-height: #{ $base-line-height }px;

			@include media-breakpoint-up( md ) { column-count: 3; }
		}

		ul {
			@extend .color-gray-very-dark-01;
			@extend %font-family-title, %font-weight-medium, %margin-0;

			font-size: 14px;
			line-height: #{ $base-line-height }px;

			li {
				@extend %margin-0;
				line-height: #{ $base-line-height }px;
			}

		}

		.ingredient {}
	}


	/**
	 * Child
	 *
	 * @uses .Recipe-child
	 */
	&-child {
		.items {
			@extend %list-unstyled, %margin-top-0;
			@include margin( bottom #{ $base-line-height * 2 }px );
		}

		.item {
			@extend %margin-0, %text-align-center, %text-align-md-left;

			button {
				@extend %font-family-title, %font-weight-bold, %position-relative, %Transition-ease, %Cursor-pointer;
				@include padding( top #{ $base-line-height / 2 }px right $grid-gutter-width / 3 bottom #{ $base-line-height / 2 }px left $grid-gutter-width / 3 );

				font-size: 20px;
				line-height: #{ $base-line-height }px;


				&::before {
					@extend %Position-absolute-center, .d-inline-block, %Transition-ease, %Pointer-events-none;

					background: {
						image: url( '#{ map-get( $directories, svg ) }marker-stroke.svg' );
						position: center;
						size: 100% 100%;
					}
					content: '';

					opacity: 0;
					transform: translate3d( ( ( $grid-gutter-width / 4 ) * -1 ), 0, 0 );

					z-index: 10;
				}

				span {
					@extend %position-relative;

					z-index: 20;
				}

				&.is-active,
				&:hover {

					color: the_color( white );

					&::before {
						transform: translate3d( 0, 0, 0 );
						opacity: 1;
					}
				}
			}
		}
	}
}
