/**
 * Search
 *
 * @uses .Search
 */
.Search {
	$this: &;

	@extend %Position-fixed-center, %Transition-ease;
	@include padding(
		top ( ( ( 130 * 100 ) / 900 ) * 1vh )
		bottom ( ( ( 130 * 100 ) / 900 ) * 1vh )
	);
	@include size( 100vw, 100vh );
	// background: linear-gradient(
	// 	33deg,
	// 	the_color( orange, light-grayish-01 ) 0%,
	// 	the_color( orange, light-grayish-02 ) 100%
	// );
	background: {
		color: the_color( orange, very-soft-03 );
	}

	opacity: 0;
	overflow-y: scroll;
	visibility: hidden;
	z-index: 40;

	@at-root .#{ map-get( $state-classes, search-open ) } & {

		opacity: 1;
		visibility: visible;
	}


	/**
	 * Inner
	 *
	 * @uses .Search-inner
	 */
	&-inner {
		@include padding(
			right percentage( 76 / 1240 )
			left percentage( 76 / 1240 )
		);
		@include margin( bottom #{ $base-line-height * 1.5 }px );
	}


	/**
	 * Suggest
	 *
	 * @uses .Search .suggest
	 */
	.suggest {
		@extend %Transition-ease;

		opacity: 1;

		@at-root #{ $this }.is-loading .suggest {
			opacity: .3;
		}
	}


	// .Search .loader
	.loader {
		@extend %Transition-ease;
		@include absolute( top 0 right 0 bottom 0 );

		font-size: 16px;
		line-height: #{ $base-line-height }px;
		opacity: 0;
		visibility: hidden;

		@at-root #{ $this }.is-loading .loader {
			opacity: 1;
			visibility: visible;
		}

		span {
			@extend .d-inline-block, %font-title;

			animation: {
				name: fade-out-up;
				timing-function: ease-in-out;
				duration: 3.5s;
				iteration-count: infinite;
				fill-mode: forwards;
			}
			font-size: 16px;
			color: the_color( orange, very-soft-02 );
		}
	}


	/**
	 * Close
	 *
	 * @uses .Search .close
	 */
	.close {
		$size: 23;

		@include absolute( top 0 right 0 );
		@include margin(
			top percentage( 63 / $psd-width-unitless )
			right percentage( 100 / $psd-width-unitless )
		);
		@include size( $size * 1px );

		z-index: 10;

		svg {
			max-width: $size * 1px;
			max-height: $size * 1px;

			fill: the_color( white );
		}
	}


	/**
	 * Title
	 */
	.title {
		@extend %font-semibold, %font-title, %margin-0;

		color: the_color( gray, very-dark-02 );
		font-size: 60px;
	}


	/**
	 * Informations
	 *
	 * @uses .Search .informations
	 */
	.informations {
		$font-size: 16;

		@extend %font-title, %font-medium;

		@include letter-spacing( 40 );
		@include margin( top 1em );

		// display: none;
		color: the_color( orange, very-soft-02 );
		font: {
			size: ( $font-size * 1px );
		}
		line-height: #{ $base-line-height }px;
		opacity: 1;

		span:nth-child( 1 ) { @extend .d-none; }
		span:nth-child( 3 ) { @extend .d-none; }

		&::before {
			@extend .d-inline-block;

			content: attr( data-total );
		}

		&[data-total="0"] {

			span:nth-child( 1 ) { @extend .d-inline-block; }
			span:nth-child( 2 ) { @extend .d-none; }
			&::before { @extend .d-none; }
		}

		// When block is loading
		@at-root #{ $this }.is-loading .informations { opacity: .3; }

		// When there isn't result
		@at-root #{ $this }.not-found .informations span:nth-child( 1 ) { display: none!important; }
		@at-root #{ $this }.not-found .informations span:nth-child( 2 ) { @extend .d-none; }
		@at-root #{ $this }.not-found .informations span:nth-child( 3 ) { @extend .d-block; }
	}


	/**
	 * Input
	 *
	 * @uses .Search .input
	 */
	.input {
		$font-size: 60;
		$line-height: $base-line-height;
		$color: the_color( orange, very-soft-02 );

		@extend .d-block, %font-title, %font-semibold;
		// @include padding( top 16px right 18px bottom 16px left 18px );
		// @include margin( bottom $grid-gutter-width );
		@include reset-placeholder( $color );
		@include responsive-font( ( ( $font-size * 100 ) / $psd-width-unitless ) * 1vw, 16px, ( $font-size * 1px ) );

		color: the_color( white );

		box-shadow:0px 1px 1px the_color( white );

		line-height: #{ $base-line-height }px;
		width: 100%;

		&:focus,
		&:active { outline: none; }
	}
}
