/**
 * Search
 *
 * @uses .Search
 */
.Search {
	$this: &;

	@extend %Position-fixed-center, %Transition-ease, %padding-top-5;
	@include padding(
		bottom #{ $base-line-height * 5 }px
	);
	min-height: 100vh;

	background-color: the_color( orange, very-soft-03 );

	opacity: 0;
	overflow-y: scroll;
	visibility: hidden;
	z-index: 40;

	@at-root .#{ map-get( $state-classes, search-open ) } & {
		opacity: 1;
		visibility: visible;
	}


	// .Search-inner
	&-inner {
		@include margin( bottom #{ $base-line-height * 1.5 }px );
	}


	/**
	 * Suggest
	 *
	 * @uses .Search .suggest
	 */
	.suggest {
		@extend %Transition-ease;

		opacity: 1;

		@at-root #{ $this }.is-loading .suggest {
			opacity: .3;
		}
	}


	// .Search .loader
	.loader {
		@extend %Transition-ease;
		@include absolute( top 0 right 0 bottom 0 );

		font-size: 16px;
		line-height: #{ $base-line-height }px;
		opacity: 0;
		visibility: hidden;

		@at-root #{ $this }.is-loading .loader {
			opacity: 1;
			visibility: visible;
		}

		span {
			@extend .d-inline-block, %font-family-title;

			animation: {
				name: fade-out-up;
				timing-function: ease-in-out;
				duration: 3.5s;
				iteration-count: infinite;
				fill-mode: forwards;
			}
			font-size: 16px;
			color: the_color( orange, very-soft-02 );
		}
	}


	/**
	 * Close
	 *
	 * @uses .Search .close
	 */
	.close {
		@include size( #{ $base-line-height }px, #{ $base-line-height * 2 }px );
		@extend %vertical-align-middle;

		z-index: 10;

		svg {
			@include size( 100% );

			fill: the_color( white );
		}
	}


	/**
	 * Title
	 */
	.title {
		@extend %font-weight-semibold, %font-family-title, %margin-0;

		color: the_color( gray, very-dark-02 );
		font-size: 60px;
	}


	/**
	 * Informations
	 *
	 * @uses .Search .informations
	 */
	.informations {
		$font-size: 16;

		@extend %font-family-title, %font-weight-medium;

		@include letter-spacing( 40 );
		@include margin( top 1em );

		// display: none;
		color: the_color( orange, very-soft-02 );
		font: {
			size: ( $font-size * 1px );
		}
		line-height: #{ $base-line-height }px;
		opacity: 1;

		span:nth-child( 1 ) { @extend .d-none; }
		span:nth-child( 3 ) { @extend .d-none; }

		&::before {
			@extend .d-inline-block;

			content: attr( data-total );
		}

		&[data-total="0"] {

			span:nth-child( 1 ) { @extend .d-inline-block; }
			span:nth-child( 2 ) { @extend .d-none; }
			&::before { @extend .d-none; }
		}

		// When block is loading
		@at-root #{ $this }.is-loading .informations { opacity: .3; }

		// When there isn't result
		@at-root #{ $this }.not-found .informations span:nth-child( 1 ) { display: none!important; }
		@at-root #{ $this }.not-found .informations span:nth-child( 2 ) { @extend .d-none; }
		@at-root #{ $this }.not-found .informations span:nth-child( 3 ) { @extend .d-block; }
	}


	// .Search .input
	.input {
		$font-size: 60;
		$line-height: $base-line-height;
		$color: the_color( orange, very-soft-02 );

		@extend .d-block, %font-family-title, %font-weight-semibold;
		@include reset-placeholder( $color );
		@include responsive-font( ( ( $font-size * 100 ) / $psd-width-unitless ) * 1vw, 16px, ( $font-size * 1px ) );

		color: the_color( white );

		box-shadow: 0px 1px 1px the_color( white );
		border: none;

		line-height: #{ $base-line-height }px;
		width: 100%;

		&:focus,
		&:active { outline: none; }
	}
}
