/**
 * Single menu
 *
 * @uses .Single-menu
 */
.Single-menu {
	$this: &;

	@extend .background-white;
	@extend %Position-fixed-center, %overflow-scroll, %Transition-ease;
	@include autoAlpha( 0 );

	z-index: 51;

	@at-root .#{ map-get( $state-classes, single-menu-open ) } & { @include autoAlpha( 1 ); }

	&.is-hover {
		@include media-breakpoint-up( md ) {
			#{ $this }__item:not(:hover) { opacity: .07; }
		}
	}

	&__items {
		@extend %list-unstyled, %margin-0;

		color: the_color( gray, very-dark );
		white-space: nowrap;
	}


	&__background { @extend %Position-absolute-center; }


	/**
	 * Item
	 *
	 * @uses .Single-menu__item
	 */
	&__item {
		$font-size: 60;
		$line-height: $base-line-height * 2;

		@extend
			.d-block,
			.d-md-inline-block,
			%font-title,
			%font-semibold,
			%Transition-ease,
			%text-align-center;

		@include font( 40, 42 );
		@include margin(
			top ( ( 68 / 2 ) * 1px )
			right ( ( ( 68 / 2 ) - 10 ) * 1px )
			bottom ( ( 68 / 2 ) * 1px )
			left ( ( ( 68 / 2 ) - 10 ) * 1px )
		);

		animation: {
			name: fade-in-down;
			duration: 1.3s;
			timing-function: ease-in-out;
			play-state: paused;
			fill-mode: backwards;
		}

		@include media-breakpoint-up( md ) {
			font-size: 60px;
			line-height: #{ $base-line-height }px;

			@include margin(
				top 0
				right $grid-gutter-width
				bottom 0
				left $grid-gutter-width
			);

			&:first-child { @include margin( left 0 ); }

			&:last-child { @include margin( right 0 ); }

		}


		// opacity: 0;
		// transform: translateY( ( $grid-gutter-width * -1 ) );

		@at-root .#{ map-get( $state-classes, single-menu-open ) } & {
			animation: {
				play-state: running;
			}
		}

		a { @include padding( top 10px right 10px bottom 10px left 10px ); }


		/**
		 * Stroke marker
		 *
		 * @uses .Menu .item.--has-stroke-marker
		 */
		&.has-stroke-marker {
			a {
				@extend %position-relative, %Transition-ease;

				&::before {
					@extend
						%Position-absolute-center,
						.d-inline-block,
						%Pointer-events-none;
					@include autoAlpha( 0 );

					background: {
						image: url( '#{ map-get( $directories, svg ) }marker-stroke.svg' );
						position: center;
						size: 100% 100%;
					}
					content: '';
					transition: .7s ease-in-out;
					transform: translate3d( ( ( $grid-gutter-width / 4 ) * -1 ), 0, 0 );

					z-index: 10;
				}

				span {
					@extend %position-relative;

					z-index: 20;
				}


				&:hover {

					color: the_color( white );

					&::before {

						@include autoAlpha( 1 );

						transform: translate3d( 0, 0, 0 );
					}
				}
			}
		}
	}

	&__thumbnail {
		$height: $base-line-height * 14;
		@extend %position-relative;

		height: ( $height * 1px );
		max-height: ( ( $height * 100 ) / 900 ) * 1vh;


		img {
			@extend %Position-absolute-center, .d-inline-block;
			@include size( 100% );
			@include autoAlpha( 0 );

			transition: .3s ease;
			object-position: center;
			object-fit: cover;

			transform: translate3d( ( $grid-gutter-width * -1 ), 0, 0 );

			&.is-active {
				@include media-breakpoint-up( md ) {

					@include autoAlpha( 1 );
					transform: translate3d( 0, 0, 0 );
				}
			}
		}
	}


	&__header {
		@extend %margin-top-5;
		@include absolute( top 0 right 0 left 0 );

		height: #{ $base-line-height * 2 }px;
	}


	/**
	 * Close
	 *
	 * @uses .Search .close
	 */
	&__close {
		@include size( #{ $base-line-height }px );
		@extend %vertical-align-middle, %margin-left-auto;

		z-index: 10;

		svg {
			@include size( 100% );

			fill: the_color( gray, very-dark );
		}
	}
}
