/**
 * Slider
 *
 * @uses .Slider
 */
.Slider {
	// .Slider-rich-content
	&-rich-content {

		// .Slider-rich-content__close
		&__close {
			@include absolute( top 0 left 0 );
			@include size( #{ $base-line-height }px );
			@include margin( top #{ $base-line-height }px left #{ $base-line-height }px );

			background: {
				image: url( '#{ map-get( $directories, svg ) }arrow-left-orange.svg' );
				position: center;
				size: 100%;
			}
			z-index: 1;
		}


		&__items {
			@extend %margin-0, %position-relative;

			background:
			    linear-gradient(
			    	135deg,
			    	rgba( the_color( orange, very-soft-05 ), 1 ) 0%,
			    	rgba( the_color( orange, light-grayish-03 ), 1 ) 100%
			    );
			list-style-type: none;

			@include padding( right 61px left 71px );

			@include media-breakpoint-up( md ) {
				@include padding( right 0 left 0 );

				&::before {
					@include absolute( top 0 right 0 bottom 0 );

					width: 50vw;
					transform: translate3d( $grid-gutter-width, 0, 0 );
				    background:
				        linear-gradient(
				        	135deg,
				        	rgba( the_color( orange, very-soft-05 ), 1 ) 0%,
				        	rgba( the_color( orange, light-grayish-03 ), 1 ) 100%
				        );
					content: '';
				}
			}
		}

		&__item {
			@include margin( top 0 bottom #{ $base-line-height * 1.5 }px );

			&:focus,
			&:active {
				outline: none;
			}

			.img {
				@include margin( top #{ $base-line-height }px bottom #{ $base-line-height }px );
				@include size( auto, #{ $base-line-height * 6 }px );

				max-width: 100%;
				object-fit: cover;
				box-shadow: 1px 3px 9px 0px rgba( the_color( gray, very-dark ), .09 );
			}

			.title {
				@extend %font-bold;
				@include margin( top #{ $base-line-height }px );

				color: the_color( orange, mostly-desaturated-dark );
				font-size: 17px;
				line-height: #{ $base-line-height }px;
			}

			.content {
				p {
					@extend %font-title, %font-medium;

					color: the_color( orange, slightly-desaturated );
					font-size: 12px;
					line-height: #{ $base-line-height }px;
				}
			}

			.link {
				@extend %font-semibold, %font-title;
				@extend .d-inline-block;

				font-size: 14px;
				line-height: #{ $base-line-height }px;
				color: the_color( orange, mostly-desaturated-dark );

				&::before {
					&:hover {
						opacity: .3!important;
					}
				}
			}
		}

		//
		&__progressbar {
			@extend %Transition-ease, %position-relative;

			height: #{ $base-line-height * 0.2 }px;
			background: {
				color: the_color( white );
				size: 0 100%;
				image:
				   linear-gradient( to right,
				   the_color( orange, very-soft-04 ),
				   the_color( orange, very-soft-04 ) );
			}
			width: 100%;
			z-index: 2;


			@include media-breakpoint-up( md ) {
				width: calc( 100% + #{ $grid-gutter-width } );
				background-color: rgba( the_color( orange, very-soft-04 ), 0 );
			}
		}
	}
}
