/**
 * Sticky-post
 *
 * @uses .Sticky-post
 */
.Sticky-post {
	@extend %position-relative;

	$header: (
		font: (
			size: 15,
			weight: map-get( map-get( $font, weights ), semibold )
		),
		line-height: #{ $base-line-height * 2 }px,
		color: the_color( blue, light-grayish )
	);

	@mixin meta-style() {
		@extend .d-inline-block, %font-family-title, %margin-0, %font-weight-semibold;
		@include letter-spacing( 20 );

		font: {
			size: ( map-get( map-get( $header, font ), size ) / $base-font-size ) * 1em;
			weight: map-get( map-get( $header, font ), weight );
		}
		line-height: map-get( $header, line-height );
		color: map-get( $header, color );
	}


	/**
	 * Header
	 */
	&-header {}


	// .Sticky-post-footer
	&-footer {
		@extend %position-relative, %margin-top-md-2;

		@include size(
			percentage( 300 / 500 ),
			#{ $base-line-height * 8 }px
		);

		transform: translate3d( percentage( -100 / 300 ), 0, 0 );

		@include padding( right $grid-gutter-width / 2 left $grid-gutter-width / 2 );

		&__inner {
			@extend %position-relative;
			@include size( 100% );
		}

		&__gallery {
			@extend %margin-0, %padding-0;
			@extend .list-unstyled;
			@include size( 100% );

			.slick-track,
			.slick-list {
				@extend %h-100;
			}

			.slick-slide > div {
				height: 100%;
			}


			/**
			 * Item
			 *
			 * @uses .Sticky-post-footer__gallery__item
			 */
			&__item {
				@extend %margin-0, %h-100, %position-relative, %overflow-hidden;

				height: 100%;

				img {
					transform: translate3d( ( $grid-gutter-width * -1 ), 0, 0 );
					transition: .6s ease;
					opacity: 0;
					height: 100%;
				}

				&::after {
					@extend .d-block;
					@include absolute( top 0 right 0 bottom 0 left 0 );

					background-color: the_color( orange, light-grayish-01 );
					content: '';

					animation-duration: 1.15s;
					transform-origin: right center;
					transform: translateX( 0% ) scaleY( 1 ) scaleX( 0 );
				}

				@at-root .slick-current & {
					img {
						transition-delay: ( 1.15s / 2 );
						transform: translate3d( 0, 0, 0 );
						opacity: 1;
					}

					&::after {
						animation-name: filler;
						animation-iteration-count: 1;
						animation-timing-function: map-get( $easings, ease-out-expo );
					    animation-fill-mode: forwards;
					}
				}
			}

			img {
				@extend %Position-absolute-center;
				@include size( 100% );

				object-fit: cover;
				object-position: 50% 50%;
			}


			// .Sticky-post-footer__gallery__button
			&__button {
				@include absolute(
					top 0
					right 0
					bottom 0
				);
				transform: translate3d( $grid-gutter-width * 0.75, 0, 0 );

				width: #{ $base-line-height * 1.5 }px;

				svg {
					@extend .d-inline-block, %vertical-align-middle;
					@include size( 100% );

					fill: the_color( white );
					filter: drop-shadow( 0 0 $grid-gutter-width rgba( the_color( gray, very-dark ), .55 ) );
				}
			}
		}
	}


	// .Sticky-post .thumbnail
	.thumbnail {
		@extend .d-block;
		@include size( 100% );

		img {
			@extend .d-inline-block, %vertical-align-middle;
			@include size( 100% );

			object-fit: cover;
			object-position: center;
			box-shadow: 1px 3px #{ $base-line-height / 2 }px 0px rgba( the_color( gray, very-dark ), 0.15 );
		}

		@include media-breakpoint-up( md ) {
			transform: translate3d( $grid-gutter-width * -1, 0, 0 );
		}
	}


	/**
	 * Category
	 *
	 * @uses .Sticky-post .category
	 */
	.category { @include meta-style; }


	/**
	 * Title
	 *
	 * @uses .Sticky-post .title
	 */
	.title {
		@extend %margin-0;
		@include letter-spacing( 12 );

		line-height: #{ $base-line-height * 2 }px;
		font-family: map-get( map-get( $font, families ), body );
		font-size: 35px;
	}


	/**
	 * Date
	 *
	 * @uses .Sticky-post .date
	 */
	.date { @include meta-style; }


	// .Sticky-post .preview
	.preview {
		font: {
			size: 20px;
			family: map-get( map-get( $font, families ), title );
			weight: map-get( map-get( $font, weights ), bold );
		}
		line-height: #{ $base-line-height }px;
	}


	// .Sticky-post .excerpt
	.excerpt {
		@include letter-spacing( 15 );

		font: {
			size: ( map-get( map-get( $header, font ), size ) / $base-font-size ) * 1em;
		}
		color: the_color( gray, very-dark-01 );
		line-height: #{ $base-line-height }px;
	}


	/**
	 * Permalink
	 *
	 * @uses .Sticky-post .permalink
	 */
	.permalink {
		font-size: 15px;
		line-height: #{ $base-line-height * 2 }px;
	}
}
