/**
 * Tease-posts
 *
 * @uses .Tease-posts
 */
.Tease-posts {

	&-row {

		@include media-breakpoint-up( md ) {
			@include margin( bottom #{ $base-line-height }px );

		    &::before,
		    &::after {
		        display: table;
		        content: " ";
		    }

		    &::after {
		        clear: both;
		    }
		}
	}

	&-footer {
		@include padding(
			top #{ $base-line-height  * 2 }px
			bottom #{ $base-line-height * 3 }px
		);
	}

	&-container {
		&.is-loading {
			@extend %Transition-ease;

			opacity: .3;
		}
	}
}
