{#
	/**
	 * /views/index
	 */
#}

{# Header #}
{% include 'header.html.twig' %}


<main id="page-content" class="l-wrapper page-content" data-node-type="{{ node_type | default( 'default-page' ) }}">

	{% block content %}
		{% include 'blocks/search.html.twig' %}
	{% endblock %}

	{% include 'partials/footer.html.twig' %}

</main>

{% include 'partials/contact.html.twig' %}

{# Footer #}
{% include 'footer.html.twig' %}
