{#
	/**
	 * /views/index
	 */
#}

{# Header #}
{% include 'header/base.twig' %}


<main class="l-wrapper">

	{# Content #}
	{% block content %}

		{% include 'components/search.twig' %}

	{% endblock %}

	{% include 'partials/footer.html.twig' %}


</main>

{% include 'partials/contact.twig' %}

{# Footer #}
{% include 'footer/base.html.twig' %}
