/**
 * Category
 *
 * @uses 	.Front-page
 * @author 	Jérémy Levron <levronjeremy@19h47.fr>
 */
.Category {

	/**
	 * Header
	 *
	 * @uses .Front-page-header
	 */
	&-header {}


	/**
	 * List posts
	 *
	 * @uses .Front-page .List-posts
	 */
	.List-posts { @include margin( top ( $grid-gutter-width * -2 ) ); }


	/**
	 * List childs
	 */
	&-list-childs {
		@extend %position-xs-relative;
		@include padding( top 43px );
		

		&::before {
			@extend %display-xs-block;
			@include absolute( top 0 right 0 left 0 );
			@include size( 100%, 180px );

			// @include padding( top percentage( 180 / $psd-width-unitless ) );
			content: '';
			background: linear-gradient(
				33deg, 
				the_color( orange, light-grayish-01 ) 0%,
				the_color( orange, light-grayish-02 ) 100%
			);
		}
	}	


	/**
	 * List child
	 *
	 * @uses .Category-list-child
	 */
	&-list-child {

		width: 100%;

		animation: {
			name: fade-in-down;
			duration: .3s;
			fill-mode: forwards;
			timing-function: ease-in;
		}
		opacity: 0;
		transform: translateY( ( $grid-gutter-width * -1 ) );

		&.is-active {}

		.title {
			$font-size: 13;
			$line-height: 80.1;

			@extend %font-title, %font-semibold, %margin-xs-0;
			
			color: the_color( blue, light-grayish );
			font: {
				size: ( $font-size * 1px );
			}
			line-height: ( $line-height / $font-size );

		}
		.thumbnail {
			@extend %position-xs-relative, %overflow-hidden;

			border: {
				radius: 50%;
			}
			box-shadow: 0 -3px 15px 0 rgba( the_color( red, bright ), .15 ); 

			&::after {
				@extend %display-xs-block;
				@include padding( top 100% );

				content: '';
			}

			img {
				@extend %Position-absolute-center;
				@include size( 100% );
				
				object-fit: cover;
			}
		}
	}
}