/**
 * Shame
 *
 * Here goes all the CSS declarations, hacks and things we are not proud of.
 *
 * @see https://csswizardry.com/2013/04/shame-css/
 */

.Slider-post__item {
	img {
		height: 100%!important;
	}
}

.plyr__video-embed,
.plyr__video-wrapper--fixed-ratio {
	height: #{ $base-line-height * 10.5 }px!important;
	padding-bottom: 0!important;
}
