{#
	/**
	 * /views/footer/base
	 * 
	 * @package WordPress
	 * @subpackage 19h47
	 * @author Jérémy Levron jeremylevron@19h47.fr
	 */
	
#}	

		{{ wp_footer }}
		{% include 'components/guid.twig' %}
		
	</body>
</html>