/**
 * Footer
 *
 * @uses .Footer
 */
.Footer {
	// @include padding( top 55px bottom 44px );

	@at-root 
		.About &, 
		.error404 &,
		.page-id-1765 & { // 🤢 Discusting
		border: {
			top: {
				color: the_color( blue, light-grayish );
				style: solid;
				width: 1px;
			}
		}
	}
	
	/**
	 * Copyright
	 *
	 * @uses .Footer-copyright
	 */
	&-copyright {
		$font-size: 12;
		$color: the_color( blue, light-grayish );

		@extend .text-xs-center;
		@extend %font-title;
		@include padding( top $grid-gutter-width / 2 bottom $grid-gutter-width / 2)

		
		border: {
			top: {
				color: rgba( the_color( blue, light-grayish ), .5 );
				style: solid;
				width: 1px;
			}
		}
		color: $color;
		font: { size: 15px; }

		@include from( 'md' ) { @include font( $font-size, 33 ); }

		i {
			@extend %font-semibold;

			font-style: normal;
		}

		span:first-child {
			@extend %display-xs-block, %display-md-inline;

			@include from( 'md' ) { @include margin( right 37px ); }
		}

		span:nth-child( 2 ) {
			@include margin( right 22px );
		}
		
		span:nth-child( 3 ) {}

		span:nth-child( 4 ) {
			@include margin( left 22px );
		}

		a {
			@extend %Transition-ease;

			&:hover { color: shade( $color, 30% ); }
		}
	}
	

	/**
	 * Logo
	 *
	 * @uses .Footer-logo
	 */
	&-logo {
		@extend %text-xs-center;

		a {
			@include margin( top 50px bottom 50px );
			@extend %display-xs-inline-block;

			width: 100%;
			
			&:hover {}

	
			@include from( 'md' ) {
				@include margin( bottom 0 );
			}
		}

		img {
			@extend %display-xs-inline-block, %vertical-align-middle;
			
			max-width: 76px;
			width: percentage( ( $container-width-without-outer-gutter-unitless / 6 ) / $container-width-without-outer-gutter-unitless );
			height: auto;

			@include from( 'md' ) {
				width: percentage( ( $container-width-without-outer-gutter-unitless / 12 ) / $container-width-without-outer-gutter-unitless );
			}
		}
	}


	/**
	 * Button
	 *
	 * @uses .Footer-button
	 */
	&-button {
		$size: 32;
		
		@extend %display-xs-inline-block, %vertical-align-middle;
		@include size( ( $size * 1px ) );
		@include margin( top 23px bottom 23px );

		@include from( 'md' ) {
			@include margin( bottom 0 );
		}

		&:hover {
			svg {
				fill: the_color( orange, very-soft-01 );
			}
		}

		svg {
			@extend %Transition-ease;
			
			fill: the_color( blue, light-grayish );
		}
	}


	/**
	 * Socials
	 *
	 * @uses .Footer-socials
	 */
	&-socials {
		@extend .list-unstyled;
		@extend %margin-xs-0, %text-xs-center;
		@include padding( bottom $grid-gutter-width / 2 );

		&__item {
			@extend %display-xs-inline-block, %vertical-align-middle;
			// @include size( $grid-gutter-width * 2 );
			@include margin( top 0 right $grid-gutter-width / 2 bottom 0  left $grid-gutter-width / 2 );

			// @include from( 'md' ) { @include size( $grid-gutter-width ); }

			a {
				@extend %display-xs-block, %font-title, %font-semibold;
				@include font( 13, 33 );

				color: the_color( blue, light-grayish );

				&:hover { 
					color: the_color( orange, very-soft-01 );

					svg { fill: the_color( orange, very-soft-01 ); } }

				&::after {
					@extend %display-xs-inline-block;

					content: attr( data-title );
				}
			}

			svg {
				@extend %display-xs-inline-block, %vertical-align-middle, %Transition-ease;

				max-width: $grid-gutter-width * 2;
				max-height: $grid-gutter-width * 2;

				@include from( 'md' ) {
					max-width: $grid-gutter-width;
					max-height: $grid-gutter-width;
				}

				fill: the_color( blue, light-grayish );
			}
		}
	}
}
