/**
 * Header
 *
 * @uses .Header
 */
.Header {
	
	/**
	 * Logo
	 *
	 * @uses .Header-logo
	 */
	&-logo {
		@extend %text-xs-center, %text-md-left;

		a {
			@extend %display-xs-block;
			@include margin( top 20px bottom 25px );

			@include from( 'md' ) {
				
				@include margin( 
					top $grid-gutter-width * 2 
					bottom auto
				);
			}
		}
		svg {
			@extend %display-xs-inline-block, %vertical-align-middle;
			max-width: 76px;
			max-height: 59px;

			fill: currentColor;
		}

		@at-root .Single-header & a{
			@include margin( top 24px );

			@include from( 'md' ) {
				@include margin( top 36px );
			}
		}

		@at-root .About-header & a{
			@include margin( top 36px );
		}
	}
}