/**
 * Header
 *
 * @uses .Header
 */
.Header {
	
	/**
	 * Logo
	 *
	 * @uses .Header-logo
	 */
	&-logo {
		
		a {
			@extend %display-xs-block;
			@include margin( top $grid-gutter-width * 2 );
		}
		svg {
			@extend %display-xs-inline-block, %vertical-align-middle;
			max-width: 76px;
			max-height: 59px;

			fill: currentColor;
		}

		@at-root .Single-header & a{
			@include margin( top 36px );
		}
	}
}