{#
404

@file   views/pages/404
@author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)

#}
{% extends 'index.twig' %}

{% block content %}

	{{ parent() }}

	{# Banner #}
	{% include 'components/banner.twig' %}

	<div class="Front-page-header">
		<div class="l-container">

			<button class="Menu-search-button js-search-button">
				{%
					include 'svg/use.html.twig'
					with { classes: [ 'Icon' ], icon: 'magnifying-glass' }
					only
				%}
			    {# <svg class="Icon magnifying-glass">
			        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ theme.link }}/dist/svg/icons.svg#magnifying-glass"></use>
			    </svg> #}
			</button>

			<div class="row">

				<div class="col-xs-4 col-xs-offset-4 col-md-1 col-md-offset-0">
					<div class="Header-logo">
						{% include 'components/header-logo.twig' %}
					</div>
				</div>
				<div class="col-xs-4 col-md-10 col-md-offset-1">

					<ul class="Menu" role="navigation">
						{%
							include 'components/menu.twig'
							with {
								menu: menu.categories,
								language: true,
								search: true,
								layout: { 'desktop': true, 'marker': true }
							}
						%}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="l-container error404-content">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<h1 class="font-bold">{{- pll__( 'Oops! Cette page ne peut être trouvée.' ) -}}</h1>
				<p>
					{{- pll__( "Il semble que rien n'ait été trouvé à cet endroit. Peut-être essayer une recherche ?" ) -}}
				</p>
			</div>
		</div>
	</div>

{% endblock %}
