{#
	/**
	 * /views/pages/category-viedos
	 */
#}
{% extends 'index.twig' %}

{% block content %}
	
	{{ parent() }}

	{# Player controls #}
	{% include 'partials/plyr.svg' %}
	
	<div class="Category-header l-container">
		<div class="row">
			<div class="col-xs-12 col-md-1">
				<div class="Header-logo">
					{% include 'components/header-logo.twig' %}
				</div>
			</div>
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<ul class="Menu" role="navigation">
					{% 
						include 'components/menu.twig' 
						with { 
							'menu' : menu.categories,
							'language': true,
							'search': true,
							'layout': {
								'desktop': true,
								'marker': true
							}
						} 
					%}
				</ul>
			</div>
		</div>
	</div>	
	

	<h2 class="Heading Heading--marquee">
		<span>{{- category.description -}}</span>
	</h2>

	{{ slider_videos }}


	{% include 'partials/instagram.twig' %}

{% endblock %}