{#
	/**
	 * /views/pages/category-viedos
	 */
#}
{% extends 'index.html.twig' %}

{% block content %}

	{{ parent() }}

	{% include 'svg/plyr.svg' %}
	{% include 'partials/menu.html.twig' %}
	{% include 'components/heading.html.twig' with { 'title': category.description  } %}

	<div class="l-container">

		{%
			include 'partials/load-more.html.twig'
			with {
				'post_template_name': 'list',
				'load_more_label': pll__( "Afficher plus d'article" ),
				'video': true
			}
		%}

	</div>

	{# {{ slider_videos }} #}


	{% include 'partials/instagram.html.twig' %}

{% endblock %}
