{#
	/**
	 * /views/pages/front-page
	 */
#}
{% extends 'index.html.twig' %}

{% block content %}

	{{ parent() }}

	{% include 'components/banner.html.twig' %}
	{% include 'svg/plyr.svg' %}
	{% include 'partials/menu.html.twig' %}

	<div class="l-container"><div class="Sticky-posts">{{- sticky_post -}}</div></div>

	{{- slider_videos -}}

	{% include 'components/heading.html.twig' with { 'title': pll__( 'Découvrir les articles' ) } %}


	<div class="l-container">
		{%
			include 'blocks/load-more.html.twig'
			with {
				post_template_name: 'tease',
				load_more_label: pll__( 'Charger plus d\'article' )
			}
		%}
	</div>

	{% include 'blocks/instagram-posts.html.twig' %}

{% endblock %}
