{#
	/**
	 * /views/pages/front-page
	 */
#}
{% extends 'index.html.twig' %}

{% block content %}

	{{ parent() }}

	{# Banner #}
	{% include 'components/banner.twig' %}

	{# Player controls #}
	{% include 'partials/plyr.svg' %}


	<div class="Front-page-header">
		<div class="l-container">


			<button class="Menu-search-button js-search-button">
			    {% include 'svg/use.html.twig' with { icon: 'magnifying-glass', classes: [ 'Icon', 'magnifying-glass' ] } %}
			</button>

			<button class="Menu-button js-toggle-menu-button hidden-md hidden-lg hidden-hd"></button>

			<div class="row">
				<div class="col-4 offset-4 offset-md-0 col-md-1">
					<div class="Header-logo">
						{% include 'components/header-logo.twig' %}
					</div>
				</div>
				<div class="col-12 col-md-10 offset-md-1">


					<ul class="Menu" role="navigation">
						{%
							include 'components/menu.twig'
							with {
								'menu' : menu.categories,
								'language': true,
								'search': true,
								'layout': {
									'desktop': true,
									'marker': true
								}
							}
						%}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="l-container">
		<div class="Sticky-posts">
			{{ sticky_post }}
		</div>
	</div>


	{{ slider_videos }}


	{% include 'components/heading.twig' with { 'title': pll__( 'Découvrir les articles' ) } %}


	<div class="l-container">

		{%
			include 'partials/load-more.twig'
			with {
				'post_template_name': 'tease',
				'load_more_label': pll__( "Charger plus d'article" )
			}
		%}

	</div>

	{% include 'partials/instagram.twig' %}

{% endblock %}
